doctype html
head
  script(src='https://js.stripe.com/v3/')
  script.
    // BASE DA API INTERNA
    let stripe = Stripe('!{stripe}');
    let sessionId = '!{sessionId}';
    stripe.redirectToCheckout({ sessionId: sessionId });