doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Page with empty content')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href='https://keenthemes.com/metronic')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  // Page Vendors Styles
  link(href='/plugins/custom/fullcalendar/fullcalendar.bundle.css' rel='stylesheet' type='text/css')
  link(href='/css/pages/wizard/wizard-5.css' rel='stylesheet' type='text/css')
  // Global Theme Styles
  link(href='/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
  link(href='/plugins/custom/prismjs/prismjs.bundle.css' rel='stylesheet' type='text/css')
  link(href= layout.style rel='stylesheet' type='text/css')
  // Layout Themes
  link(rel='shortcut icon' href= layout.favicon)
  // Global Config
  script.
    let KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // KAMPANA
  script(src='/js/lib/axios/axios.min.js')
  script(src='/js/controllers/main.js')
  script(src='https://js.stripe.com/v3/')
  script.
    // BASE DA API INTERNA
    let API_URL = '#{layout.api_url}';
    let stripe = Stripe('!{stripe}');
  // GOOGLE TAG MANAGER
  if (layout.gtag)
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WWDDTK4');
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  if (layout.gtag)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WWDDTK4' height='0' width='0' style='display:none;visibility:hidden')
  a.w-100.text-center(href='https://hub.kampana.digital')
    img.max-h-30px(alt='Logo' src= layout.logo)
.d-flex.flex-column.flex-root
  .d-flex.flex-row.flex-column-fluid.page
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      #kt_header.header.flex-column.header-fixed
        .header-top
          .container.justify-content-center
            .d-none.d-lg-flex.align-items-center
              a(href='https://hub.kampana.digital')
                img.max-h-35px(alt='Logo' src= layout.logo)
      #kt_content.content.d-flex.flex-column.flex-column-fluid
        .d-flex.flex-column-fluid
          .container
            #banner-nuvem.row.d-none
              .col-12
                .card.card-custom.card-stretch.gutter-b.bg-diagonal.bg-diagonal-light-primary
                  .card-body.p-0
                    .row.p-10.align-items-center
                      .col-lg-8
                        h5.font-weight-bolder.mb-4
                          | Integre o 
                          span.text-primary RD Station
                          |  com a 
                          span.text-primary Nuvemshop
                          |  e desbloqueie os superpoderes dessas ferramentas!
                        p.text-dark-50.font-size-xl.font-weight-bold
                          | Automatize em menos de 2 minutos sem precisar escrever uma única linha de código.
                        p.text-dark-50.font-size-xl.font-weight-bold
                          | Basta criar o seu cadastro utilizando as instruções abaixo.
                        p.text-dark-50.font-size-xl.font-weight-bold
                          span.font-weight-bolder.text-primary Aproveite os 7 (sete) dias de teste gratuitos!
                      .col-lg-4.text-center
                        img.mt-3.max-h-150px(src='/media/integrations/banner-rdstation-nuvemshop.png')
            .card.card-custom
              .card-body.p-0
                #kt_wizard.wizard.wizard-5.d-flex.flex-column.flex-lg-row.flex-row-fluid
                  .wizard-aside.bg-white.d-flex.flex-column.flex-row-auto.w-100.w-lg-300px.w-xl-400px.w-xxl-500px
                    .d-flex.flex-column-fluid.flex-column.px-xxl-20.px-10
                      .wizard-nav.d-flex.d-flex.justify-content-center.pt-10.pt-lg-20.pb-5
                        .wizard-steps
                          .wizard-step(data-wizard-type='step' data-wizard-state='current')
                            .wizard-wrapper
                              .wizard-icon
                                i.wizard-check.ki.ki-check
                                span.wizard-number 1
                              .wizard-label
                                h3.wizard-title Criar Acesso
                                .wizard-desc Defina como acessar a plataforma.
                          .wizard-step(data-wizard-type='step')
                            .wizard-wrapper
                              .wizard-icon
                                i.wizard-check.ki.ki-check
                                span.wizard-number 2
                              .wizard-label
                                h3.wizard-title Informar Projeto
                                .wizard-desc Configure os detalhes da sua conta.
                          .wizard-step(data-wizard-type='step')
                            .wizard-wrapper
                              .wizard-icon
                                i.wizard-check.ki.ki-check
                                span.wizard-number 3
                              .wizard-label
                                h3.wizard-title Realizar Pagamento
                                .wizard-desc Contrate uma assinatura e aproveite.
                  .wizard-content.bg-gray-100.d-flex.flex-column.flex-row-fluid.py-15.px-5.px-lg-10
                    .d-flex.justify-content-center.flex-row-fluid
                      form#kt_form.pb-5.w-100.w-md-450px.w-lg-500px(novalidate='novalidate')
                        .pb-5(data-wizard-type='step-content' data-wizard-state='current')
                          .pb-10.pb-lg-15
                            h3.font-weight-bolder.text-dark.font-size-h2 Cadastre-se
                            .text-muted.font-weight-bold.font-size-h5
                              | Já possui uma conta?
                              a.text-primary.font-weight-bolder(href='/login')
                                small  Clique aqui para entrar.
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark Nome
                            input.form-control.h-auto.p-5.rounded-lg.font-size-h6(type='text' name='usuario_nome' placeholder='Ex.: João da Silva')
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark E-mail
                            input.form-control.h-auto.p-6.rounded-lg.font-size-h6(type='email' name='usuario_email' placeholder='Ex.: joaodasilva@email.com')
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark Senha
                            input.form-control.h-auto.p-6.rounded-lg.font-size-h6(type='password' name='usuario_senha' placeholder='******')
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark Confirmação de Senha
                            input.form-control.h-auto.p-6.rounded-lg.font-size-h6(type='password' name='usuario_senha_c' placeholder='******')
                        .pb-5(data-wizard-type='step-content')
                          .row
                            .col-lg-6.col-md-6
                              .form-group
                                label.font-size-h6.font-weight-bolder.text-dark Telefone
                                input.form-control.h-auto.p-5.rounded-lg.font-size-h6(type='tel' name='usuario_telefone' placeholder='Ex.: (11) 91234-5678')
                            .col-lg-6.col-md-6
                              .form-group
                                label.font-size-h6.font-weight-bolder.text-dark Data de Nascimento
                                input.form-control.h-auto.p-5.rounded-lg.font-size-h6.datetimepicker-input(type='tel' name='usuario_nascimento' placeholder='Ex.: 01/01/2000' data-toggle='datetimepicker')
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark Tipo de Conta
                            select.form-control.h-auto.p-5.rounded-lg.font-size-h6(name='cliente_tipo')
                              option(value='') Selecionar
                              option(value='PF') Pessoa Física
                              option(value='PJ') Pessoa Jurídica
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark CPF / CNPJ
                            input.form-control.h-auto.p-5.rounded-lg.font-size-h6(type='tel' name='cliente_id_mf' disabled)
                          .form-group
                            label.font-size-h6.font-weight-bolder.text-dark Nome da Empresa
                            input.form-control.h-auto.p-5.rounded-lg.font-size-h6(type='text' name='cliente_nome' disabled)
                        .pb-5(data-wizard-type='step-content')
                          .card.card-custom.text-center
                            .card-body
                              img.max-h-60px(alt='Stripe' src='/media/integrations/logo-stripe.png')
                              p.my-4 Os pagamentos no Kampana Hub são processados pela Stripe. Ao clicar em finalizar contratação, você será redirecionado para o checkout. Ao realizar o pagamento, você terá acesso completo ao dashboard de gerenciamento e sua integração já estará ativa.
                              strong.my-4 Integre seu RD Station com a Nuvemshop e desbloqueie os superpoderes dessas ferramentas.
                              p.my-4
                                small
                                  | Ao clicar em finalizar, eu aceito e concordo com a captura dos dados registrados pelo Kampana Hub, para usá-los na melhor prestação dos serviços, conforme esta e demais disposições previstas nos 
                                  a(href='https://hub.kampana.digital/termos-de-uso' target='_blank') termos de uso
                                  |  e, de acordo com a 
                                  a(href='https://hub.kampana.digital/politica-de-privacidade' target='_blank') política de privacidade
                                  | .
                        // Wizard Actions
                        .d-flex.justify-content-between.pt-3
                          .mr-2
                            button.btn.btn-light-primary.font-weight-bolder.font-size-h6.pl-6.pr-8.py-4.my-3.mr-3(type='button' data-wizard-type='action-prev')
                              span.svg-icon.svg-icon-md.mr-1
                                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                    polygon(points='0 0 24 0 24 24 0 24')
                                    rect(fill='#000000' opacity='0.3' transform='translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)' x='14' y='7' width='2' height='10' rx='1')
                                    path(d='M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z' fill='#000000' fill-rule='nonzero' transform='translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)')
                              | Voltar
                          div
                            button.btn.btn-success.font-weight-bolder.font-size-h6.pl-5.pr-8.py-4.my-3(type='button' data-wizard-type='action-submit')
                              | Finalizar
                              span.svg-icon.svg-icon-md.ml-2
                                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                    polygon(points='0 0 24 0 24 24 0 24')
                                    rect(fill='#000000' opacity='0.3' transform='translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)' x='7.5' y='7.5' width='2' height='9' rx='1')
                                    path(d='M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z' fill='#000000' fill-rule='nonzero' transform='translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)')
                            button.btn.btn-primary.font-weight-bolder.font-size-h6.pl-8.pr-4.py-4.my-3(type='button' data-wizard-type='action-next')
                              | Avançar
                              span.svg-icon.svg-icon-md.ml-1
                                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                    polygon(points='0 0 24 0 24 24 0 24')
                                    rect(fill='#000000' opacity='0.3' transform='translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)' x='7.5' y='7.5' width='2' height='9' rx='1')
                                    path(d='M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z' fill='#000000' fill-rule='nonzero' transform='translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)')
      script(src='/js/tools.js')
      script(src='/js/controllers/cadastro.js')
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://hub.kampana.digital' target='_blank') kampana.digital
#kt_scrolltop.scrolltop
  span.svg-icon
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')