extends layout

block content
  
  .container
    .row
      .col-xl-7
        .card.card-custom.card-stretch.gutter-b
          .card-body.card-rounded.bgi-no-repeat.bg-light-primary.py-15(style='background-position: top right; background-size: contain; background-image: url(/media/svg/humans/custom-10.svg)')
            h2.pb-5
              small Bem-vindo(a), 
              span.font-weight-bolder !{user.displayName}!
            p.pb-5.font-size-h5
              small Nosso objetivo é que você aproveite ao máximo nosssa plataforma.
              br
              small Aqui você encontra conteúdos para potencializar seus resultados!
              br
              small Confira nosso blog e fique por dentro de todas as novidades.
              br
              small Ficou com alguma dúvida? Mande uma mensagem pra nós.
            a.btn.btn-primary.font-weight-bold.py-2.px-6(href='https://hub.kampana.digital/blog' target='_blank') Acessar Blog
      .col-xl-5
        .card.card-custom.bg-gray-100.gutter-b.card-stretch
          .card-header.border-0.bg-primary.py-5
            h3.card-title.font-weight-bolder.text-white Painel de Controle
            //.card-toolbar
              .dropdown.dropdown-inline
                a.btn.btn-transparent-white.btn-sm.font-weight-bolder.dropdown-toggle.px-5(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Export
                .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
                  ul.navi.navi-hover
                    li.navi-header.pb-1
                      span.text-primary.text-uppercase.font-weight-bold.font-size-sm Add new:
                    li.navi-item
                      a.navi-link(href='#')
                        span.navi-icon
                          i.flaticon2-shopping-cart-1
                        span.navi-text Order
                    li.navi-item
                      a.navi-link(href='#')
                        span.navi-icon
                          i.flaticon2-calendar-8
                        span.navi-text Event
                    li.navi-item
                      a.navi-link(href='#')
                        span.navi-icon
                          i.flaticon2-graph-1
                        span.navi-text Report
                    li.navi-item
                      a.navi-link(href='#')
                        span.navi-icon
                          i.flaticon2-rocket-1
                        span.navi-text Post
                    li.navi-item
                      a.navi-link(href='#')
                        span.navi-icon
                          i.flaticon2-writing
                        span.navi-text File
          .card-body.p-0.position-relative.overflow-hidden
            .py-8.px-4.h-100
              .row.m-0.h-100
                .col-12.col-sm-6
                  .h-100.bg-white.rounded-xl.d-flex.align-items-center
                    a#bridge-ecommerce.font-weight-bold.font-size-h6(href='/nuvemshop')
                      .p-6
                        .d-block.my-2
                          img(src='/media/integrations/logo-nuvemshop-mini.png')
                        span.font-weight-bold.font-size-h6.mt-2(style='color: #2b3357') Nuvemshop
                .col-12.col-sm-6.mt-9.mt-sm-0
                  .h-100.bg-white.rounded-xl.d-flex.align-items-center
                    a#bridge-stripe.font-weight-bold.font-size-h6(href='/financeiro')
                      .p-6
                        .d-block.my-2
                          img(src='/media/integrations/logo-stripe-mini.png')
                        span.font-weight-bold.font-size-h6.mt-2(style='color: #635bfe') Financeiro
    #integracoes-habilitadas.gutter-b
      h5.text-dark.font-weight-bold Integrações Habilitadas
      p.mb-0 Aqui você pode gerenciar todos os detalhes das suas integrações ativas.
    #bridge-activecampaign.bridge.d-none
      .card.card-custom.gutter-b
        .card-header.border-0.min-h-15px
        .row
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body.text-center
              a(href='/activecampaign')
                img.img-fluid(alt='RD Station' src='/media/integrations/logo-activecampaign.png')
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body
              span.card-title.font-weight-bolder.text-dark-75.font-size-h3.mb-0.d-block
              span.card-subtitle.ellipsis.font-weight-bold.text-muted.font-size-sm
          .col-md-12.col-xl-6.d-flex.align-items-center.border-top
            .card-body
              .row
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z' fill='#000000' fill-rule='nonzero')
                            rect(fill='#000000' opacity='0.3' transform='translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) ' x='11' y='4' width='2' height='16' rx='1')
                  label.mb-0
                    small Código de 
                    | Monitoramento
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0
                    small Carrinho 
                    | Abandonado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Criado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0
                    small Pedido 
                    | Pago
    #bridge-rdstation.bridge.d-none
      .card.card-custom.gutter-b
        .card-header.border-0.min-h-15px
        .row
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body.text-center
              a(href='/rdstation')
                img.img-fluid(alt='RD Station' src='/media/integrations/logo-rdstation.png')
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body
              span.card-title.font-weight-bolder.text-dark-75.font-size-h3.mb-0.d-block
              span.card-subtitle.ellipsis.font-weight-bold.text-muted.font-size-sm
          .col-md-12.col-xl-6.d-flex.align-items-center.border-top
            .card-body
              .row
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z' fill='#000000' fill-rule='nonzero')
                            rect(fill='#000000' opacity='0.3' transform='translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) ' x='11' y='4' width='2' height='16' rx='1')
                  label.mb-0
                    small Código de 
                    | Monitoramento
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0
                    small Carrinho 
                    | Abandonado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Criado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0
                    small Pedido 
                    | Pago
    
    #bridge-sms.bridge.d-none
      .card.card-custom.gutter-b
        .card-header.border-0.min-h-15px
        .row
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body.text-center
              a(href='/sms')
                img.img-fluid(alt='RD Station' src='/media/integrations/logo-sms.png')
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body
              span.card-title.font-weight-bolder.text-dark-75.font-size-h3.mb-0.d-block
              span.card-subtitle.ellipsis.font-weight-bold.text-muted.font-size-sm
          .col-md-12.col-xl-6.d-flex.align-items-center.border-top
            .card-body
              .row
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0
                    small Carrinho 
                    | Abandonado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Criado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0
                    small Pedido 
                    | Pago
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z' fill='#000000')
                            path(d='M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Enviado
    
    #bridge-whatsapp.bridge.d-none
      .card.card-custom.gutter-b
        .card-header.border-0.min-h-15px
        .row
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body.text-center
              a(href='/whatsapp')
                img.img-fluid(alt='RD Station' src='/media/integrations/logo-whatsapp.png')
          .col-md-6.col-xl-3.d-flex.align-items-center.border-top
            .card-body
              span.card-title.font-weight-bolder.text-dark-75.font-size-h3.mb-0.d-block
              span.card-subtitle.ellipsis.font-weight-bold.text-muted.font-size-sm
          .col-md-12.col-xl-6.d-flex.align-items-center.border-top
            .card-body
              .row
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0
                    small Carrinho 
                    | Abandonado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Criado
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0
                    small Pedido 
                    | Pago
                .col-md-6.mb-4
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z' fill='#000000')
                            path(d='M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z' fill='#000000' opacity='0.3')
                  label.mb-0
                    small Pedido 
                    | Enviado
    #integracoes-disponiveis.gutter-b
      h5.text-dark.font-weight-bold Integrações Disponíveis
      p.mb-0 Aqui você pode habilitar novas integrações para o seu e-commerce.
    .row
      #ad-activecampaign.ad.col-xl-3.d-none
        a(href='/activecampaign')
          .card.card-custom.card-stretch.gutter-b
            .card-body.d-flex.align-items-center.justify-content-center
              img.img-fluid.max-h-50px(alt='ActiveCampaign' src='/media/integrations/logo-activecampaign.png')
      #ad-rdstation.ad.col-xl-3.d-none
        a(href='/rdstation')
          .card.card-custom.card-stretch.gutter-b
            .card-body.d-flex.align-items-center.justify-content-center
              img.img-fluid.max-h-50px(alt='SMS' src='/media/integrations/logo-rdstation.png')
      #ad-sms.ad.col-xl-3.d-none
        a(href='/sms')
          .card.card-custom.card-stretch.gutter-b
            .card-body.d-flex.align-items-center.justify-content-center
              img.img-fluid.max-h-50px(alt='SMS' src='/media/integrations/logo-sms.png')
      #ad-whatsapp.ad.col-xl-3.d-none
        a(href='/whatsapp')
          .card.card-custom.card-stretch.gutter-b
            .card-body.d-flex.align-items-center.justify-content-center
              img.img-fluid.max-h-50px(alt='WhatsApp' src='/media/integrations/logo-whatsapp.png')
      .col-xl-3
        a(href='#')
          .card.card-custom.card-stretch.gutter-b
            .card-body.d-flex.align-items-center.justify-content-center
              h5.mb-0(style='line-height: 35px') + 
                small Ver
                |  Todas 
                small as Integrações
  script(src='/js/controllers/dashboard.js')