doctype html
head
  base(href='../../../')
  meta(charset='utf-8')
  title Kampana Hub - Erro
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='canonical' href='https://keenthemes.com/metronic')
  // begin::Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  // end::Fonts
  // begin::Page Custom Styles(used by this page)
  link(href='/css/pages/error/error-6.css' rel='stylesheet' type='text/css')
  // end::Page Custom Styles
  // begin::Global Theme Styles(used by all pages)
  link(href='/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
  link(href='/plugins/custom/prismjs/prismjs.bundle.css' rel='stylesheet' type='text/css')
  link(href='/css/style.bundle.prod.css' rel='stylesheet' type='text/css')
  // end::Global Theme Styles
  // begin::Layout Themes(used by all pages)
  // end::Layout Themes
  link(rel='shortcut icon' href='/media/logos/kampana/favicon.png')
// end::Head
// begin::Body
// begin::Main
.d-flex.flex-column.flex-root
  // begin::Error
  .error.error-6.d-flex.flex-row-fluid.bgi-size-cover.bgi-position-center(style='background-image: url(/media/error/background.jpg);')
    // begin::Content
    .d-flex.flex-column.flex-row-fluid.text-center
      h1.error-title.font-weight-boldest.text-white.mt-30 #{status}
      p.display-4.font-weight-bold.text-white Algo errado não está certo.
      p.display-4.font-weight-bold.text-white #{message} - #{error}
      a.font-weight-bold.text-white(href='/')
        strong Clique Aqui 
        | para Voltar para o Início
    // end::Content
  // end::Error
// end::Main
script.
  var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
// begin::Global Config(global config for global JS scripts)
script.
  var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };
// end::Global Config
// begin::Global Theme Bundle(used by all pages)
script(src='/plugins/global/plugins.bundle.js')
script(src='/plugins/custom/prismjs/prismjs.bundle.js')
script(src='/js/scripts.bundle.js')