doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Kampana Hub')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href= layout.canonical)
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href= layout.style)
  link(rel='stylesheet' type='text/css' href='/css/aux.css')
  // Favicon
  link(rel='shortcut icon' href= layout.favicon)
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/axios/axios.min.js')
  script(src='/js/lib/jquery-mask/jquery.mask.min.js')
  script(src='/js/lib/jquery-validation/jquery.validate.min.js')
  script(src='/js/lib/jquery-validation/messages_pt_BR.min.js')
  // KAMPANA
  script(src='/js/controllers/main.js')
  script.
    // BASE DA API INTERNA
    const API_URL = '#{layout.api_url}';
    // BASE DA URL AWS
    const AWS_S3_URL = '#{layout.aws_s3}';
    // DADOS DO USUÁRIO / AUTH0
    const auth0 = JSON.parse('{\
      "user_id": "#{user.user_id}",\
      "name": "#{user.displayName}"\
    }');
  // ZENDESK
  script#ze-snippet(src='https://static.zdassets.com/ekr/snippet.js?key=94f25d79-52eb-46d2-9b28-a99dd832a8b8')
body#kt_body.header-fixed.header-mobile-fixed.header-bottom-enabled
  #kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
    a(href='/')
      img.max-h-30px(alt='Logo' src= layout.logo)
    .d-flex.align-items-center
      button#kt_header_mobile_toggle.btn.p-0.burger-icon.burger-icon-left.ml-4
        span
      button#kt_header_mobile_topbar_toggle.btn.p-0.ml-2
        span.svg-icon.svg-icon-xl
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
            g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
              polygon(points='0 0 24 0 24 24 0 24')
              path(d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
              path(d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z' fill='#000000' fill-rule='nonzero')
  .d-flex.flex-column.flex-root
    .d-flex.flex-row.flex-column-fluid.page
      #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
        #kt_header.header.flex-column.header-fixed
          .header-top
            .container
              .d-none.d-lg-flex.align-items-center.mr-3
                a.mr-20(href='/')
                  img.max-h-35px(alt='Logo' src= layout.logo)
                ul.header-tabs.nav.align-self-end.font-size-lg(role='tablist')
                  li.nav-item
                    a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Início
                  li.nav-item.mr-3
                    a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_2' role='tab') Configuração
                  li.nav-item.mr-3
                    a.nav-link.py-4.px-6(href='/financeiro') Financeiro
              .topbar.bg-primary
                .topbar-item
                  #kt_quick_user_toggle.btn.btn-icon.btn-hover-transparent-white.w-sm-auto.d-flex.align-items-center.btn-lg.px-2
                    .d-flex.flex-column.text-right.pr-sm-3
                      span.text-white.opacity-50.font-weight-bold.font-size-sm.d-none.d-sm-inline !{user.displayName.split(' ').shift()}
                      span.text-white.font-weight-bolder.font-size-sm.d-none.d-sm-inline !{user.displayName.split(' ').pop()}
                    span.symbol.symbol-35
                      span.symbol-label.font-size-h5.font-weight-bold.text-white.bg-white-o-30 !{user.displayName.charAt(0)}
          .header-bottom
            .container
              #kt_header_navs.header-navs.header-navs-left
                ul.header-tabs.p-5.p-lg-0.d-flex.d-lg-none.nav.nav-bold.nav-tabs(role='tablist')
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Início
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_2' role='tab') Configuração
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='/financeiro') Financeiro
                .tab-content
                  #kt_header_tab_1.tab-pane.py-5.p-lg-0.show
                    #kt_header_menu.header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/')
                            span.menu-text Dashboard
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/perfil')
                            span.menu-text Minha Conta
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='https://hub.kampana.digital/suporte' target='_blank')
                            span.menu-text Ajuda
                            span.menu-label
                              span.label.label-info.ml-1
                                i.icon-md.text-white.la.la-fire-alt
                  #kt_header_tab_2.tab-pane.p-5.p-lg-0.justify-content-between
                    .header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/activecampaign')
                            span.menu-text ActiveCampaign
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/nuvemshop')
                            span.menu-text Nuvemshop
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/rdstation')
                            span.menu-text RD Station
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/whatsapp')
                            span.menu-text Whatsapp
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/sms')
                            span.menu-text Envio de SMS
        #kt_content.content.d-flex.flex-column.flex-column-fluid
          block content
        #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
          .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
            .text-dark.order-2.order-md-1
              span.text-muted.font-weight-bold.mr-2 2021 &copy;
              a.text-dark-75.text-hover-primary(href='https://hub.kampana.digital' target='_blank') hub.kampana.digital
  #kt_quick_user.offcanvas.offcanvas-right.p-10
    .offcanvas-header.d-flex.align-items-center.justify-content-between.pb-5
      img.max-h-30px(alt='Logo' src= layout.logo style='filter: brightness(0%)')
      a#kt_quick_user_close.btn.btn-xs.btn-icon.btn-light.btn-hover-primary(href='#')
        i.ki.ki-close.icon-xs.text-muted
    .offcanvas-content.pr-5.mr-n5
      .text-center
        .symbol.symbol-circle.symbol-100.mt-5
          #img-perfil.symbol-label(style='background-image:url(' + user.picture + ')')
          i.symbol-badge.bg-success
        .mt-5
          .font-weight-bold.text-dark-75.text-hover-primary(style='font-family: "Just Me Again Down Here", cursive; font-size: 26px;') #{user.displayName}
          .text-muted.mt-2 !{user.emails.slice().shift().value}
          .text-muted.mt-2 !{user._json.updated_at}
          ul.navi.navi-hover
            li.navi-item
              a.navi-link.btn.btn-sm.btn-light-primary.font-weight-bolder.py-2.px-5.mt-4.justify-content-center.btn-perfil(href='/perfil') Editar Perfil
            li.navi-item.justify-content-center
              a.navi-link.btn.btn-sm.btn-light-primary.font-weight-bolder.py-2.px-5.mt-4.justify-content-center.btn-logout(href='/logout') Sair
  #kt_scrolltop.scrolltop
    span.svg-icon
      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
          polygon(points='0 0 24 0 24 24 0 24')
          rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
          path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')