extends layout

block content
  
  .d-flex.flex-column-fluid
    .container
      .d-flex.align-items-center.justify-content-between.gutter-b
        div
          h5.text-dark.font-weight-bold Painel de Controle
          p.mb-0 Aqui você pode gerenciar todos os detalhes da sua conexão com a Nuvemshop.
        .d-none.d-sm-flex.align-items-center
          a.logo-nuvemshop(href='https://www.nuvemshop.com.br/minha-loja' target='_blank')
            img.max-h-30px(alt='Nuvemshop' src='/media/integrations/logo-nuvemshop.png')
      .row
        // TESTAR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-debug(disabled)
                    i.la.la-bug
                    span Testar
                  span.form-text.text-muted.text-center.mt-5
                    | Testar o funcionamento.
        // DESABILITAR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-update(disabled)
                    i.la.la-power-off
                    span
                  span.form-text.text-muted.text-center.mt-5
                    | Desabilitar/Habilitar temporariamente.
        // EXCLUIR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-delete(disabled)
                    i.la.la-trash
                    span Excluir
                  span.form-text.text-muted.text-center.mt-5
                    | Excluir/Associar uma nova loja.
      //.row.gutter-b
        .col-12
          h5.text-dark.font-weight-bold Pontos de Integração
          p.mb-0 Abaixo você determina em quais situações a Nuvemshop deve enviar dados para o RD Station.
      //
      //#alerta-rd.alert.alert-custom.alert-light-danger.fade.show.gutter-b.d-none(role='alert')
        .alert-icon
          i.flaticon-warning
        .alert-text
          strong Atenção!
          br
          | Para habilitar os pontos de integração, você; deve primeiro configurar o seu RD Station.
          br
          a.text-danger(href='/api/rdstation/login')
            small
              strong Clique aqui para resolver.
      //
      //.row
        // RD TRACKING CODE
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z' fill='#000000' fill-rule='nonzero')
                            rect(fill='#000000' opacity='0.3' transform='translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) ' x='11' y='4' width='2' height='16' rx='1')
                  label.mb-0(for='tracking-code')
                    | Monitoramento
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#tracking-code.script(name='tracking-code' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Instala o 
                    a(href='https://ajuda.rdstation.com.br/hc/pt-br/articles/206139393-Instalar-o-C%C3%B3digo-de-Monitoramento' target='_blank') código de monitoramento
                    |  do RD Station na loja. Ele é responsável pela captura das visitas de seus Leads e seus respectivos dados.
        // ABANDONED CART
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0(for='abandoned-cart')
                    small Carrinho 
                    | Abandonado
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#abandoned-cart.script(name='abandoned-cart' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Envia os dados do Lead e um evento de 
                    a(href='https://ajuda.rdstation.com.br/hc/pt-br/articles/360051654611-Fluxo-de-carrinho-abandonado-Nova-integra%C3%A7%C3%A3o' target='_blank') carrinho abandonado
                    |  para o RD Station caso o comprador não faça um pedido em até 30 minutos.
        // ORDER CREATED
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0(for='order-created')
                    small Pedido 
                    | Criado
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#order-created.webhook(name='order-created' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Envia o Lead e uma 
                    a(href='https://ajuda.rdstation.com.br/hc/pt-br/articles/209060106-O-que-%C3%A9-uma-Oportunidade' target='_blank') oportunidade
                    |  para o RD Station sempre que um novo pedido é realizado, independentemente do status do pagamento.
        // ORDER PAID
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0(for='order-paid')
                    small Pedido 
                    | Pago
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#order-paid.webhook(name='order-paid' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Envia uma 
                    a(href='https://ajuda.rdstation.com.br/hc/pt-br/articles/204953825-Processo-de-vendas-para-Leads' target='_blank') venda
                    |  para o RD Station toda vez que um pedido é marcado como pago, contabilizando no funil o seu respectivo valor.
      .row.gutter-b
        .col-12
          h5.text-dark.font-weight-bold Últimos Eventos
          p.mb-0 Consulte abaixo o histórico (das últimas 20 entradas) da conexão com o Nuvemshop.
      // PESQUISA
      .card.card-custom.gutter-b
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  script(src='/js/controllers/nuvemshop.js')