extends layout

block content

  style.
    .uppy-Dashboard-progressindicators {
      display: none;
    }
    #kt_user_edit_avatar .image-input-wrapper {
      background-position: center;
    }
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        .d-flex.align-items-baseline.flex-wrap
          h5.text-dark.font-weight-bold.my-1.mr-5 Minha Conta
          ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
            li.breadcrumb-item.text-muted
              span.text-muted Início
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-save
          i.ki.ki-check.icon-sm
          | Salvar Alterações
  .d-flex.flex-column-fluid
    .container
      .card.card-custom
        .card-body
          form#kt_form.row
            .col-xl-2
            .col-xl-7.my-2
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Avatar
                .col-9
                  #kt_user_edit_avatar.image-input.image-input-outline
                    .image-input-wrapper(style='background-image: url(/media/users/blank.png)')
                    label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow.uppy-btn(data-action='change' data-toggle='tooltip' title='' data-original-title='Alterar Avatar')
                      i.fa.fa-pen.icon-sm.text-muted
                    span.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow.uppy-btn-remove(data-action='cancel' data-toggle='tooltip' title='' data-original-title='Remover Avatar')
                      i.ki.ki-bold-close.icon-xs.text-muted
                  #kt_uppy.uppy
                    .uppy-dashboard
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Nome
                .col-9
                  input.form-control.form-control-lg.form-control-solid(type='text' name='usuario_nome' placeholder='Nome')
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left E-mail
                .col-9
                  .input-group.input-group-lg.input-group-solid
                    .input-group-prepend
                      span.input-group-text
                        i.la.la-at
                    input.form-control.form-control-lg.form-control-solid(type='email' name='usuario_email' placeholder='Email' disabled)
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Telefone
                .col-9
                  .input-group.input-group-lg.input-group-solid
                    .input-group-prepend
                      span.input-group-text
                        i.la.la-phone
                    input.form-control.form-control-lg.form-control-solid(type='tel' name='usuario_telefone' placeholder='Phone')
                  //span.form-text.text-muted We&apos;ll never share your email with anyone else.
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Data Nascimento
                .col-9
                  input.form-control.form-control-lg.form-control-solid.datetimepicker-input(type='tel' name='usuario_nascimento' placeholder='Data de Nascimento' data-toggle='datetimepicker')
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Tipo de Conta
                .col-9
                  select.form-control.form-control-lg.form-control-solid(name='cliente_tipo' disabled)
                    option(value='') Selecionar
                    option(value='PF') Pessoa Física
                    option(value='PJ') Pessoa Jurídica
              // end::Group
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left CPF / CNPJ
                .col-9
                  input.form-control.form-control-lg.form-control-solid(type='tel' name='cliente_id_mf' placeholder='CPF/CNPJ' disabled)
                  //span.form-text.text-muted
                    | If you want your invoices addressed to a company. Leave blank to use your full name.
              // begin::Group
              .form-group.row
                label.col-form-label.col-3.text-lg-right.text-left Nome da Empresa
                .col-9
                  input.form-control.form-control-lg.form-control-solid(type='text' name='cliente_nome' placeholder='Nome da Empresa' disabled)
                  //span.form-text.text-muted
                    | If you want your invoices addressed to a company. Leave blank to use your full name.
              // end::Group
          // end::Row
  // CSS DA PÁGINA
  link(href='/plugins/custom/uppy/uppy.bundle.css' rel='stylesheet' type='text/css')
  // SCRIPTS DA PÁGINA
  script(src='/plugins/custom/uppy/uppy.bundle.js')
  script(src='/plugins/custom/uppy/uppy.pt_BR.js')
  script(src='/js/controllers/perfil.js')