extends layout

block content
  
  .d-flex.flex-column-fluid
    .container
      .d-flex.align-items-center.justify-content-between.gutter-b
        div
          h5.text-dark.font-weight-bold Painel de Controle
          p.mb-0 Aqui você pode gerenciar todos os detalhes da sua conexão com o Whatsapp.
        .d-none.d-sm-flex.align-items-center
          img.max-h-30px(alt='Whatsapp' src='/media/integrations/logo-whatsapp.png')
      .row
        // TESTAR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-debug(disabled)
                    i.la.la-bug
                    span Testar
                  span.form-text.text-muted.text-center.mt-5
                    | Testar o funcionamento.
        // DESABILITAR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-update(disabled)
                    i.la.la-power-off
                    span
                  span.form-text.text-muted.text-center.mt-5
                    | Desabilitar temporariamente.
        // EXCLUIR
        .col-12.col-lg-4.gutter-b
          .card.card-custom
            .card-body
              .row.form-group.mb-0
                .col-12
                  button.btn.btn-block.btn-light-info.font-weight-bold.btn-delete(disabled)
                    i.la.la-trash
                    span Excluir
                  span.form-text.text-muted.text-center.mt-5
                    | Excluir/Associar uma nova conta.
      .row.gutter-b
        .col-12
          h5.text-dark.font-weight-bold Pontos de Integração
          p.mb-0 Abaixo você determina em quais situações a Nuvemshop deve enviar dados para o Whatsapp.
      //    
      #alerta-nuvemshop-whatsapp.alert.alert-custom.alert-light-danger.fade.show.gutter-b.d-none(role='alert')
        .alert-icon
          i.flaticon-warning
        .alert-text
          strong Atenção!
          br
          | Para que os pontos de integração funcionem corretamente, você deve primeiro adicionar a integração com a Nuvemshop.
          br
          a.text-danger(href='/nuvemshop')
            small
              strong Clique aqui para resolver.
      //
      #alerta-status-whatsapp.alert.alert-custom.alert-light-danger.fade.show.gutter-b.d-none(role='alert')
        .alert-icon
          i.flaticon-warning
        .alert-text
          strong Atenção!
          br
          | Habilite a integração para configurar os eventos dos pontos de integração.
      //
      .row
        // ABANDONED CART
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                            path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                  label.mb-0(for='abandoned-cart')
                    small Carrinho 
                    | Abandonado
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#abandoned-cart.script(name='abandoned-cart' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Notifica o comprador pelo 
                    a(href="#" onClick="return false" style="cursor: none") Whatsapp 
                    |  caso ele tenha deixado um item no carrinho e não tenha feito um pedido em até 30 minutos.
        // ORDER CREATED
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            polygon(fill='#000000' opacity='0.3' points='12 20.0218549 8.47346039 21.7286168 6.86905972 18.1543453 3.07048824 17.1949849 4.13894342 13.4256452 1.84573388 10.2490577 5.08710286 8.04836581 5.3722735 4.14091196 9.2698837 4.53859595 12 1.72861679 14.7301163 4.53859595 18.6277265 4.14091196 18.9128971 8.04836581 22.1542661 10.2490577 19.8610566 13.4256452 20.9295118 17.1949849 17.1309403 18.1543453 15.5265396 21.7286168')
                            polygon(fill='#000000' points='14.0890818 8.60255815 8.36079737 14.7014391 9.70868621 16.049328 15.4369707 9.950447')
                            path(d='M10.8543431,9.1753866 C10.8543431,10.1252593 10.085524,10.8938719 9.13585777,10.8938719 C8.18793881,10.8938719 7.41737243,10.1252593 7.41737243,9.1753866 C7.41737243,8.22551387 8.18793881,7.45690126 9.13585777,7.45690126 C10.085524,7.45690126 10.8543431,8.22551387 10.8543431,9.1753866' fill='#000000' opacity='0.3')
                            path(d='M14.8641422,16.6221564 C13.9162233,16.6221564 13.1456569,15.8535438 13.1456569,14.9036711 C13.1456569,13.9520555 13.9162233,13.1851857 14.8641422,13.1851857 C15.8138085,13.1851857 16.5826276,13.9520555 16.5826276,14.9036711 C16.5826276,15.8535438 15.8138085,16.6221564 14.8641422,16.6221564 Z' fill='#000000' opacity='0.3')
                  label.mb-0(for='order-created')
                    small Pedido 
                    | Criado
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#order-created.webhook(name='order-created' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Notifica o comprador pelo 
                    a(href="#" onClick="return false" style="cursor: none") Whatsapp 
                    | após realizar o processor de compra de um pedido, enviando o link para o acompanhamento da compra.
        // ORDER PAID
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            rect(fill='#000000' opacity='0.3' x='2' y='5' width='20' height='14' rx='2')
                            rect(fill='#000000' x='2' y='8' width='20' height='3')
                            rect(fill='#000000' opacity='0.3' x='16' y='14' width='4' height='2' rx='1')
                  label.mb-0(for='order-paid')
                    small Pedido 
                    | Pago
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#order-paid.webhook(name='order-paid' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Notifica o comprador pelo 
                    a(href="#" onClick="return false" style="cursor: none") Whatsapp 
                    | após realizar o pagamento de um pedido, enviando o link para o acompanhamento da compra.
        // ORDER FULFILLED
        .col-12.col-lg-3.gutter-b
          .card.card-custom
            .card-header.container
              .row.align-items-center.w-100
                .col-10
                  .symbol.symbol-30.symbol-light-primary.mr-5
                    span.symbol-label
                      span.svg-icon.svg-icon-primary
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M16.3740377,19.9389434 L22.2226499,11.1660251 C22.4524142,10.8213786 22.3592838,10.3557266 22.0146373,10.1259623 C21.8914367,10.0438285 21.7466809,10 21.5986122,10 L17,10 L17,4.47708173 C17,4.06286817 16.6642136,3.72708173 16.25,3.72708173 C15.9992351,3.72708173 15.7650616,3.85240758 15.6259623,4.06105658 L9.7773501,12.8339749 C9.54758575,13.1786214 9.64071616,13.6442734 9.98536267,13.8740377 C10.1085633,13.9561715 10.2533191,14 10.4013878,14 L15,14 L15,19.5229183 C15,19.9371318 15.3357864,20.2729183 15.75,20.2729183 C16.0007649,20.2729183 16.2349384,20.1475924 16.3740377,19.9389434 Z' fill='#000000')
                            path(d='M4.5,5 L9.5,5 C10.3284271,5 11,5.67157288 11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L4.5,8 C3.67157288,8 3,7.32842712 3,6.5 C3,5.67157288 3.67157288,5 4.5,5 Z M4.5,17 L9.5,17 C10.3284271,17 11,17.6715729 11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L4.5,20 C3.67157288,20 3,19.3284271 3,18.5 C3,17.6715729 3.67157288,17 4.5,17 Z M2.5,11 L6.5,11 C7.32842712,11 8,11.6715729 8,12.5 C8,13.3284271 7.32842712,14 6.5,14 L2.5,14 C1.67157288,14 1,13.3284271 1,12.5 C1,11.6715729 1.67157288,11 2.5,11 Z' fill='#000000' opacity='0.3')
                  label.mb-0(for='order-fulfilled')
                    small Pedido 
                    | Enviado
                .col-2
                  span.switch.switch-sm.switch-icon.mt-1
                    label
                      input#order-fulfilled.webhook(name='order-fulfilled' type='checkbox' disabled)
                      span
            .card-body
              .row.form-group.mb-0
                .col-12
                  span.form-text.mt-0
                    | Notifica o comprador pelo 
                    a(href="#" onClick="return false" style="cursor: none") Whatsapp 
                    | após realizar o processo de envio do pedido, enviando o link para o acompanhamento da compra.     
      .row.gutter-b
        .col-12
          h5.text-dark.font-weight-bold Últimos Eventos
          p.mb-0 Consulte abaixo o histórico (das últimas 20 entradas) da conexão com o Whatsapp.
      // PESQUISA
      .card.card-custom.gutter-b
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  script(src='/js/controllers/whatsapp.js')