extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 ActiveCampaign
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Integração
      .d-none.d-sm-flex.align-items-center
        img.max-h-30px(alt='ActiveCampaign' src='/media/integrations/logo-activecampaign.png')
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Integração
  .d-flex.flex-column-fluid
    .container      
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted      
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
      .modal-content
        .modal-header
          h5.modal-title.ellipsis
            | Habilitar Eventos
            span#modal-title.d-block.text-muted.font-size-sm.ellipsis
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form#form
            // CONVERTED
            .row.form-group
              .col-9
                label(for='rdstation-converted')
                  small Contact 
                  | Converted
                span.form-text.text-muted
                  | Conversão
              .col-3
                span.switch.switch-sm.switch-icon.mt-1
                  label
                    input#rdstation-converted(name='rdstation-converted' type='checkbox')
                    span
            // MARKED OPPORTUNITY
            .row.form-group
              .col-9
                label(for='rdstation-marked-opportunity')
                  small Contact 
                  | Marked Opportunity
                span.form-text.text-muted
                  | Nova Oportunidade
              .col-3
                span.switch.switch-sm.switch-icon.mt-1
                  label
                    input#rdstation-marked-opportunity(name='rdstation-marked-opportunity' type='checkbox')
                    span
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  #modal-log.modal.fade(role='dialog' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-xl
      .modal-content(style='min-height: 590px;')
        .modal-header
          h5.modal-title.ellipsis
            | Histórico de Integração
            span#modal-log-title.d-block.text-muted.font-size-sm loja.com.br
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          .mb-5.row
            .col-12
              .input-icon
                input#kt_datatable_search_query_log.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
          #kt_datatable_log.datatable.datatable-bordered.datatable-head-custom
  script(src='/js/controllers/activecampaign.js')