extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Atividades
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Atividade
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Atividade
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form
            // CLIENTE
            .row
              .col-12.form-group
                label(for='projeto')
                  | Projeto
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#projeto.form-control.select2(name='projeto' required)
                    option(value='') Selecionar
            .row
              // DATA
              .col-4.form-group
                label(for='data')
                  | Data
                  span.text-danger *
                #data.input-group.date(data-target-input='nearest')
                  .input-group-prepend(data-target='#data' data-toggle='datetimepicker')
                    span.input-group-text
                      i.ki.ki-calendar-2
                  input.form-control.datetimepicker-input(name='data' type='text' placeholder='Selecionar Data' data-target='#data' required)
              // NOME
              .col-8.form-group
                label(for='nome')
                  | Nome
                  span.text-danger *
                input#nome.form-control(name='nome' type='text' required)
            // SQUAD
            .row
              .col-12.form-group
                label(for='squad')
                  | Squad
                .input-group
                  .input-group-prepend
                      span.input-group-text
                        i.ki.ki-bold-sort
                  input#squad.form-control.tagify(name='squad' placeholder='Selecionar Integrante(s)')
                span.form-text.text-muted Insira aqui outros membros envolvidos quando aplicável.
            // DESCRIÇÃO
            .row
              .col-12.form-group
                label(for='descricao')
                  | Descrição
                textarea#descricao.form-control(name='descricao' rows='3')
                span.form-text.text-muted Insira aqui os detalhes quando aplicável.
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/atividades.js')