extends layout

block content
  
  style.
    .uppy-Dashboard-progressindicators {
      display: none;
    }
    #kt_image .image-input-wrapper {
      background-position: center;
    }
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Back-Office
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center
        button.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Usuário
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Usuário
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form
            .row
              .col-lg-2.form-group.d-flex.align-items-center.justify-content-center
                #kt_image.image-input.image-input-outline
                  .image-input-wrapper(style='background-image: url(/media/users/blank.png)')
                  label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow.uppy-btn(data-action='change' data-toggle='tooltip' title='' data-original-title='Alterar Avatar')
                    i.fa.fa-pen.icon-sm.text-muted
                  span.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow.uppy-btn-remove(data-action='cancel' data-toggle='tooltip' title='' data-original-title='Remover Avatar')
                    i.ki.ki-bold-close.icon-xs.text-muted
                #kt_uppy.uppy
                  .uppy-dashboard
              .col-lg-10
                .row
                  .col-6.form-group
                    label(for='usuario-nome')
                      | Nome
                      span.text-danger *
                    input#usuario-nome.form-control(name='usuario-nome' type='text' required)
                  .col-4.col-lg-5.form-group
                    label(for='usuario-funcao')
                      | Função
                      span.text-danger *
                    .d-flex(style='flex-direction: column-reverse;')
                      select#usuario-funcao.form-control(name='usuario-funcao' required)
                        option(value='') Selecionar
                        option(value='Back-Office') Back-Office
                        option(value='Diretor') Diretor
                        option(value='Gerente de Contas') Gerente de Contas
                  .col-2.col-lg-1.form-group
                    label(for='usuario-status')
                      | Status
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#usuario-status(name='usuario-status' type='checkbox' checked='checked')
                        span
                .row
                  .col-lg-6.form-group
                    label(for='usuario-email')
                      | E-mail
                      span.text-danger *
                    input#usuario-email.form-control(name='usuario-email' type='email' required)
                  .col-lg-3.form-group
                    label(for='usuario-telefone')
                      | Telefone
                      span.text-danger *
                    input#usuario-telefone.form-control(name='usuario-telefone' type='tel' required)
                  .col-lg-3.form-group
                    label(for='usuario-nascimento')
                      | Data de Nascimento
                    #usuario-nascimento.input-group.date(data-target-input='nearest')
                      .input-group-prepend(data-target='#usuario-nascimento' data-toggle='datetimepicker')
                        span.input-group-text
                          i.ki.ki-calendar-2
                      input.form-control.datetimepicker-input(name='usuario-nascimento' type='text' placeholder='Selecionar Data' data-target='#usuario-nascimento')
                .row
                  .col-10.col-lg-11.form-group
                    label(for='usuario-projetos')
                      | Projetos
                    .input-group
                      .input-group-prepend
                          span.input-group-text
                            i.ki.ki-bold-sort
                      input#usuario-projetos.form-control.tagify(name='usuario-projetos' placeholder='Selecione um Projeto.')
                    span.form-text.text-muted
                      | Selecione os projetos ao qual o usuário pode ter acesso.
                  .col-2.col-lg-1.form-group
                    label(for='usuario-admin')
                      | Admin
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#usuario-admin(name='usuario-admin' type='checkbox')
                        span 
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // CSS DA PÁGINA
  link(href='/plugins/custom/uppy/uppy.bundle.css' rel='stylesheet' type='text/css')
  // SCRIPTS DA PÁGINA
  script(src='/plugins/custom/uppy/uppy.bundle.js')
  script(src='/plugins/custom/uppy/uppy.pt_BR.js')
  script(src='/js/controllers/back-office.js')