extends layout

block content
  
  style.
    /* STYLE - SENHA */
    .loading {
      background: url(https://cutewallpaper.org/21/loading-gif-transparent-background/Animated-Loading-Bar-Gif-Transparent-Background.gif) no-repeat center center;
      background-size: 25px 25px;
    }
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Clientes
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Cliente
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Cliente
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        ul.nav.nav-tabs.nav-bold.nav-tabs-line.py-8.py-sm-0.justify-content-center.bg-light-primary.shadow-xs
          li.nav-item
            a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
              span.nav-icon
                i.flaticon-folder
              span.nav-text Geral
          li.nav-item
            a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
              span.nav-icon
                i.flaticon-suitcase
              span.nav-text Endereço
        .modal-body.pb-0
          .container
            form#form
              .tab-content
                #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
                  .row
                    .col-lg-3.form-group
                      label(for='cliente-tipo')
                        | Tipo
                        span.text-danger *
                      select#cliente-tipo.form-control(name='cliente-tipo' required)
                        option(value='') Selecionar
                        option(value='PF') Pessoa Física
                        option(value='PJ') Pessoa Jurídica
                    .col-lg-3.form-group
                      label(for='cliente-id-mf')
                        | CPF / CNPJ
                        span.text-danger *
                      input#cliente-id-mf.form-control(name='cliente-id-mf' type='text' required)
                    .col-lg-5.form-group
                      label(for='cliente-nome')
                        | Nome
                        span.text-danger *
                      input#cliente-nome.form-control(name='cliente-nome' type='text' required)
                    .col-lg-1.form-group
                      label(for='cliente-status')
                        | Status
                      span.switch.switch-sm.switch-icon.mt-1
                        label
                          input#cliente-status(name='cliente-status' type='checkbox' checked='checked')
                          span
                    
                    .col-lg-4.form-group
                      label(for='cliente-email')
                        | E-mail
                        span.text-danger *
                      .input-group
                        .input-group-prepend
                            span.input-group-text
                              i.la.la-envelope
                        input#cliente-email.form-control(name='cliente-email' type='email' required)
                    .col-lg-4.form-group
                      label(for='cliente-telefone')
                        | Telefone
                        span.text-danger *
                      .input-group
                        .input-group-prepend
                            span.input-group-text
                              i.la.la-phone
                        input#cliente-telefone.form-control(name='cliente-telefone' type='tel' required)
                    .col-lg-4.form-group
                      label(for='cliente-whatsapp')
                        | WhatsApp
                        span.text-danger *
                      .input-group
                        .input-group-prepend
                            span.input-group-text
                              i.fab.la-whatsapp
                        input#cliente-whatsapp.form-control(name='cliente-whatsapp' type='tel' required)
                    
                    .col-12.form-group
                      label(for='cliente-descricao')
                        | Descrição
                      textarea#cliente-descricao.form-control(name='cliente-descricao' rows='3')
                #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
                  .row
                    .col-lg-4.form-group
                      label(for='endereco-cep')
                        | CEP
                        span.text-danger *
                      input#endereco-cep.form-control(name='endereco-cep' type='tel' required)
                    .col-lg-8.form-group
                      label(for='endereco-logradouro')
                        | Logradouro
                        span.text-danger *
                      input#endereco-logradouro.form-control(name='endereco-logradouro' type='text' required disabled)
                    .col-lg-4.form-group
                      label(for='endereco-numero')
                        | Número
                        span.text-danger *
                      input#endereco-numero.form-control(name='endereco-numero' type='tel' required)
                      span.form-text.text-muted Caso não exista insira o número 0 (zero).
                    .col-lg-8.form-group
                      label(for='endereco-complemento')
                        | Complemento
                      input#endereco-complemento.form-control(name='endereco-complemento' type='text')
                      span.form-text.text-muted Não é obrigatório mas é desejável.
                    .col-lg-4.form-group
                      label(for='endereco-bairro')
                        | Bairro
                        span.text-danger *
                      input#endereco-bairro.form-control(name='endereco-bairro' type='text' required disabled)
                    .col-lg-4.form-group
                      label(for='endereco-cidade')
                        | Cidade
                        span.text-danger *
                      input#endereco-cidade.form-control(name='endereco-cidade' type='text' required disabled)
                    .col-lg-4.form-group
                      label(for='endereco-estado')
                        | Estado
                        span.text-danger *
                      select#endereco-estado.form-control(name='endereco-estado' required disabled)
                        option(value='') Selecionar
                        option(value='AC') Acre
                        option(value='AL') Alagoas
                        option(value='AM') Amazonas
                        option(value='AP') Amapá
                        option(value='BA') Bahia
                        option(value='CE') Ceará
                        option(value='DF') Distrito Federal
                        option(value='ES') Espírito Santo
                        option(value='GO') Goiás
                        option(value='MA') Maranhão
                        option(value='MG') Minas Gerais
                        option(value='MS') Mato Grosso do Sul
                        option(value='MT') Mato Grosso
                        option(value='PA') Pará
                        option(value='PB') Paraíba
                        option(value='PE') Pernambuco
                        option(value='PI') Piauí
                        option(value='PR') Paraná
                        option(value='RJ') Rio de Janeiro
                        option(value='RN') Rio Grande do Norte
                        option(value='RO') Rondônia
                        option(value='RR') Roraima
                        option(value='RS') Rio Grande do Sul
                        option(value='SC') Santa Catarina
                        option(value='SE') Sergipe
                        option(value='SP') São Paulo
                        option(value='TO') Tocantins
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/clientes.js')