extends layout

block content
  
  style.
    .uppy-Dashboard-progressindicators {
      display: none;
    }
    #kt_image .image-input-wrapper {
      background-position: center;
    }
    /* STYLE - SENHA */
    .inner-addon {
      position: relative;
      display: flex;
    }

    .inner-addon .flaticon {
      padding: 10px;
      cursor: pointer;
      position: absolute;
    }
    
    .inner-addon .flaticon:hover {
      color: black;
    }

    .bi-eye-slash { 
      right: 35px;
    }
    
    .bi-eye { 
      right: 35px;
    }

    .flaticon2-copy { 
      right: 0px;
    }
    
    .flaticon2-graphic-design { 
      right: 0px;
    }
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Credenciais
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center
        button.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Credencial
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Credencial
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form#form
            // CREDENCIAL
            .row
              .col-12.form-group
                label(for='projeto')
                  | Projeto
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#projeto.form-control.select2(name='projeto' required)
                    option(value='') Selecionar
            .row
              // NOME
              .col-6.form-group
                label(for='credencial-nome')
                  | Nome
                  span.text-danger *
                input#credencial-nome.form-control(name='credencial-nome' type='text' required)
              // USUARIO
              .col-6.form-group
                label(for='credencial-usuario')
                  | Usuário
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-usuario.form-control(name='credencial-usuario' type='text' required)
                  i#btnCopyUser.flaticon.flaticon2-copy.icon-xl.d-none
            .row
              // URL
              .col-6.form-group
                label(for='credencial-url')
                  | Url
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-url.form-control(name='credencial-url' type='text' required)
                  i#btnRdrtUrl.flaticon.flaticon2-graphic-design.icon-xl.d-none
              // SENHA
              .col-6.form-group
                label
                  | Senha
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-senha.form-control(name='credencial-senha' type='password' required)
                  i#btnViewPass.flaticon.bi.bi-eye.d-none(style='font-size:25px; margin-bottom:10px')
                  i#btnCopyPass.flaticon.flaticon2-copy.icon-xl.d-none
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // CSS DA PÁGINA
  link(href='/plugins/custom/uppy/uppy.bundle.css' rel='stylesheet' type='text/css')
  // SCRIPTS DA PÁGINA
  script(src='/plugins/custom/uppy/uppy.bundle.js')
  script(src='/plugins/custom/uppy/uppy.pt_BR.js')
  script(src='/js/controllers/credenciais.js')