extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Dashboard
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center.flex-wrap
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Visualização
        span.switch.switch-sm.switch-icon
          label
            input#hide-dashboard(type='checkbox' name='autoupdate')
            span
  .d-flex.flex-column-fluid
    .container
      #dashboard.row
        .col
          .card.card-custom.bgi-no-repeat.card-stretch.gutter-b(style='background-position: right top; background-size: 30% auto; background-image: url(/media/svg/shapes/abstract-1.svg)')
            .card-body
              span.svg-icon.svg-icon-2x.svg-icon-info
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    polygon(points='0 0 24 0 24 24 0 24')
                    path(d='M11.2600599,5.81393408 L2,16 L22,16 L12.7399401,5.81393408 C12.3684331,5.40527646 11.7359848,5.37515988 11.3273272,5.7466668 C11.3038503,5.7680094 11.2814025,5.79045722 11.2600599,5.81393408 Z' fill='#000000' opacity='0.3')
                    path(d='M12.0056789,15.7116802 L20.2805786,6.85290308 C20.6575758,6.44930487 21.2903735,6.42774054 21.6939717,6.8047378 C21.8964274,6.9938498 22.0113578,7.25847607 22.0113578,7.535517 L22.0113578,20 L16.0113578,20 L2,20 L2,7.535517 C2,7.25847607 2.11493033,6.9938498 2.31738608,6.8047378 C2.72098429,6.42774054 3.35378194,6.44930487 3.7307792,6.85290308 L12.0056789,15.7116802 Z' fill='#000000')
              span#dashboard-clientes.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.mt-6.d-block.dashboard.blurry
                i.fas.fa-spinner.fa-spin
              span.font-weight-bold.text-muted Clientes 
                span.font-size-sm  Ativos
        .col
          a(href='/projetos')
            .card.card-custom.bg-info.bgi-no-repeat.card-stretch.gutter-b(style='background-position: right top; background-size: 30% auto; background-image: url(/media/svg/shapes/abstract-2.svg)')
              .card-body
                span.svg-icon.svg-icon-2x.svg-icon-white
                  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                    g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                      polygon(points='0 0 24 0 24 24 0 24')
                      path(d='M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
                      path(d='M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z' fill='#000000' fill-rule='nonzero')
                span#dashboard-projetos.card-title.font-weight-bolder.text-white.font-size-h2.mb-0.mt-6.d-block.dashboard.blurry
                  i.fas.fa-spinner.fa-spin
                span.font-weight-bold.text-white Projetos 
                  span.font-size-sm Ativos
        .col
          .card.card-custom.bgi-no-repeat.card-stretch.gutter-b(style='background-position: right top; background-size: 30% auto; background-image: url(/media/svg/shapes/abstract-3.svg)')
            .card-body
              span.svg-icon.svg-icon-2x.svg-icon-info
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    rect(x='0' y='0' width='24' height='24')
                    path(d='M6.5,16 L7.5,16 C8.32842712,16 9,16.6715729 9,17.5 L9,19.5 C9,20.3284271 8.32842712,21 7.5,21 L6.5,21 C5.67157288,21 5,20.3284271 5,19.5 L5,17.5 C5,16.6715729 5.67157288,16 6.5,16 Z M16.5,16 L17.5,16 C18.3284271,16 19,16.6715729 19,17.5 L19,19.5 C19,20.3284271 18.3284271,21 17.5,21 L16.5,21 C15.6715729,21 15,20.3284271 15,19.5 L15,17.5 C15,16.6715729 15.6715729,16 16.5,16 Z' fill='#000000' opacity='0.3')
                    path(d='M5,4 L19,4 C20.1045695,4 21,4.8954305 21,6 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6 C3,4.8954305 3.8954305,4 5,4 Z M15.5,15 C17.4329966,15 19,13.4329966 19,11.5 C19,9.56700338 17.4329966,8 15.5,8 C13.5670034,8 12,9.56700338 12,11.5 C12,13.4329966 13.5670034,15 15.5,15 Z M15.5,13 C16.3284271,13 17,12.3284271 17,11.5 C17,10.6715729 16.3284271,10 15.5,10 C14.6715729,10 14,10.6715729 14,11.5 C14,12.3284271 14.6715729,13 15.5,13 Z M7,8 L7,8 C7.55228475,8 8,8.44771525 8,9 L8,11 C8,11.5522847 7.55228475,12 7,12 L7,12 C6.44771525,12 6,11.5522847 6,11 L6,9 C6,8.44771525 6.44771525,8 7,8 Z' fill='#000000')
              span#dashboard-mrr.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.mt-6.d-block.dashboard.blurry
                i.fas.fa-spinner.fa-spin
              span.font-weight-bold.text-muted.font-size-sm MRR
        if (!user.externo)
          .col
            .card.card-custom.bgi-no-repeat.card-stretch.gutter-b(style='background-position: right top; background-size: 30% auto; background-image: url(/media/svg/shapes/abstract-4.svg)')
              .card-body
                span.svg-icon.svg-icon-2x.svg-icon-info
                  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                    g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                       rect(x='0' y='0' width='24' height='24')
                       path(d='M9,10 L9,19 L10.1525987,19.3841996 C11.3761964,19.7920655 12.6575468,20 13.9473319,20 L17.5405883,20 C18.9706314,20 20.2018758,18.990621 20.4823303,17.5883484 L21.231529,13.8423552 C21.5564648,12.217676 20.5028146,10.6372006 18.8781353,10.3122648 C18.6189212,10.260422 18.353992,10.2430672 18.0902299,10.2606513 L14.5,10.5 L14.8641964,6.49383981 C14.9326895,5.74041495 14.3774427,5.07411874 13.6240179,5.00562558 C13.5827848,5.00187712 13.5414031,5 13.5,5 L13.5,5 C12.5694044,5 11.7070439,5.48826024 11.2282564,6.28623939 L9,10 Z' fill='#000000')
                       rect(fill='#000000' opacity='0.3' x='2' y='9' width='5' height='11' rx='1')
                span#dashboard-nps.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.mt-6.d-block.dashboard.blurry
                  i.fas.fa-spinner.fa-spin
                span.font-weight-bold.text-muted NPS 
                  span.font-size-sm Médio
      if (!user.externo)
        // GRÁFICO DE EVOLUÇÃO DO NPS
        .card.card-custom.gutter-b.d-none.d-sm-flex
          .card-header.h-auto
            .card-title.py-5
              h3.card-label
                span.d-block.text-dark.font-weight-bolder
                  | NPS
                span.d-block.text-muted.mt-2.font-size-sm Net Promoter Score
            .card-toolbar.dashboard.blurry
              span.label.label-sm.label-pill.label-inline.label-danger.min-w-75px.mr-2 Ruim
              span.label.label-sm.label-pill.label-inline.label-warning.min-w-75px.mr-2 Razoável
              span.label.label-sm.label-pill.label-inline.label-primary.min-w-75px.mr-2(style='background-color: #3699FF') Muito Bom
              span.label.label-sm.label-pill.label-inline.label-success.min-w-75px.mr-2 Excelente
          .card-body
            #nps.dashboard.blurry
        // ANIVERSARIANTES
        #aniversariantes.card.card-custom.gutter-b.d-none
          .card-header.h-auto
            .card-title.py-5
              h3.card-label
                span.d-block.text-dark.font-weight-bolder
                  | Aniversariantes
                span.d-block.text-muted.mt-2.font-size-sm Confira quem está em clima de comemoração.
          .card-body.dashboard.blurry
        // INFORMAÇÕES DE APOIO - NPS
        .row.gutter-b
          .col-12
            #nps-info.accordion.accordion-toggle-arrow
              .card
                .card-header
                  .card-title.collapsed(data-toggle='collapse' data-target='#nps-info-1')
                    i.flaticon-info
                    | O que é&nbsp;
                    strong NPS
                    | ?
                #nps-info-1.collapse(data-parent='#nps-info')
                  .card-body
                    p 
                      | NPS ou 
                      em Net Promoter Score 
                      | é uma métrica criada para medir a satisfação dos clientes, perguntando, numa escala de 0 a 10, o quanto eles indicariam nossa empresa aos amigos. A fórmula para calcular o NPS é bem simples.
                    p.text-center NPS = % de Clientes Promotores (notas entre 10 e 9) – % de Clientes Detratores (notas entre 6 e 0)
                    p
                      strong Os clientes que dão nota entre 10 e 9 são considerados promotores
                      | : aqueles que amam a sua empresa e provavelmente recomendam sua empresa para amigos e até mesmo nas redes sociais. São tesouros valiosos que podem ser usados para trabalhar seu marketing boca em boca.
                    p
                      strong Os clientes que dão nota 8 ou 7 são considerados passivos/neutros
                      | : não estão insatisfeitos, mas também não são leais. Podem também trazer alguns pontos de atenção sobre sua empresa nos seus comentários, mas que não o fazem querer abandoná-la (ao menos por enquanto).
                    p 
                      strong Os clientes que dão uma nota de 6 a 0 são considerados detratores
                      | : não estão satisfeitos com a sua marca, com o seu produto, com o seu atendimento ou qualquer coisa da sua empresa. Essas são as pessoas que provavelmente vão falar mal da sua empresa para seus contatos. Além disso, ainda podem ser um grande risco de churn ou de não comprar mais de sua empresa. Atente-se a eles.
                    p Pense num exemplo com 10 respostas: 6 clientes promotores, 2 detratores, e 2 neutros. O cálculo da nota ficaria da seguinte forma: 0,6 (60% promotores) – 0,2 (20% detratores) = 0,4 = 40%. Em geral é considerado para benchmark os seguintes parâmetros.
                      ul
                        li NPS 
                          strong.text-success Excelente 
                          | – entre 100% e 75%
                        li NPS 
                          strong(style='color: #3699FF') Muito Bom 
                          | – entre 74% e 50%
                        li NPS 
                          strong.text-warning Razoável 
                          | – entre 49% e 0%
                        li NPS 
                          strong.text-danger Ruim 
                          | – entre -1% e -100%
                    p Para mais informações, consulte aqui esse artigo no 
                      a(href='https://resultadosdigitais.com.br/blog/o-que-e-nps/' target='_blank') Blog da RD Station
                      | .
        // INFORMAÇÕES DE APOIO - MRR
        .row
          .col-12
            #mrr-info.accordion.accordion-toggle-arrow
              .card
                .card-header
                  .card-title.collapsed(data-toggle='collapse' data-target='#mrr-info-1')
                    i.flaticon-info
                    | O que é&nbsp;
                    strong MRR
                    | ?
                #mrr-info-1.collapse(data-parent='#mrr-info')
                  .card-body
                    p 
                      | MRR significa 
                      em Monthly Recurring Revenue
                      | , ou, em português, Receita Recorrente Mensal. Essa taxa é utilizada por empresas para calcular os valores que entram mês a mês e, inclusive, prever ganhos futuros. Esta é a métrica mais importante, pois ela une as áreas financeira e estratégica em torno do mesmo potencial de crescimento.
                    p O MRR pode ser utilizado em quaisquer modelos de negócio. Mas empresas que trabalham nesse universo são as mais afetadas por uma possível taxa abaixo do esperado. Como elas atuam com contratos de assinatura, o índice é o único meio de avaliar o crescimento nos últimos 12 meses e prever o próximo período.
                    p O cálculo do MRR é bastante simples, basta realizar a soma do valor pago mensalmente por cada um dos clientes. É necessário que se avalie o MRR dos clientes ativos, e que nele já estejam contabilizadas todas as formas diferenciadas de pagamento, os descontos para cartão de crédito, os valores de cada pacote, etc.
                    p Como o custo para se conquistar novos clientes é muito maior do que o de manter os antigos, e um churn pode dificultar os planos de crescimento da empresa, a satisfação do consumidor é algo que deve sempre ser mantido em foco.
  script(src='/js/controllers/dashboard.js')