doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Kampana Hub')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href= layout.canonical)
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href= layout.style)
  link(rel='stylesheet' type='text/css' href='/css/aux.css')
  // Favicon
  link(rel='shortcut icon' href= layout.favicon)
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/axios/axios.min.js')
  // KAMPANA
  style.
    .skills {
      text-align: right;
      padding-bottom: 7px;
      color: white;
      background-color: #4CAF50;
    }
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  a(href='/')
    img.max-h-30px(alt='Logo' src= layout.logo)
.d-flex.flex-column.flex-root
  .d-flex.flex-row.flex-column-fluid.page
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      #kt_header.header.flex-column.header-fixed
        .header-top
          .container.justify-content-center
            .d-none.d-lg-flex.align-items-center
              a(href='/')
                img.max-h-35px(alt='Logo' src= layout.logo)
      #kt_content.content.d-flex.flex-column.flex-column-fluid
        .d-flex.flex-column-fluid
          .container
            .card.card-custom.gutter-b.mt-8
              .card-header.flex-wrap.border-0.pt-6.pb-0
                .card-title
                  h3.card-label
                    | Interesses Secretos Facebook
                    span.d-block.text-muted.pt-2.font-size-sm Percepções de Interesses para anúncios na plataforma do Facebook
                .card-toolbar
              .card-body
                .mb-7
                  .row.align-items-center
                    .col-lg-9.col-xl-10
                      .input-icon
                        input.form-control(type='text', placeholder='Digite o tema de interesse...', id='kt_datatable_search_query')
                        span
                          i.flaticon2-search-1.text-muted
                    .col-lg-3.col-xl-2.mt-5.mt-lg-0.collapse(id='kt_datatable_search')
                      button.btn.btn-light.px-6.w-100(style='color:#fff; background-color:#AB21FD', type='button', id='search_button')
                        | Pesquisar
                    .col-lg-3.col-xl-2.mt-5.mt-lg-0.collapse(id='kt_datatable_search_reflash')
                      button.btn.btn-light.px-6.w-100(style='color:#fff; background-color:#AB21FD', type='button', id='reflash_button')
                        | Nova pesquisa
                    .col-lg-12.col-xl-12.mt-5.lg-0.mt-5.text-center.collapse(id='kt_datatable_selected_results')
                      span.btn.btn-light-success.px-6.font-weight-bold(id='search_result') 0
                .mt-10.mb-5.collapse(id='kt_datatable_group_action_form')
                  .d-flex.align-items-center
                    .font-weight-bold.text-danger.mr-3
                      | Itens selecionados:
                      span(id='kt_datatable_selected_records') 0
                    button.btn.btn-sm(style='background-color: rgb(200, 204, 204);', type='button', data-toggle='modal', data-target='#kt_datatable_fetch_modal')
                      | Interesses Selecionados
                .datatable.datatable-bordered.datatable-head-custom(id='kt_datatable')
            .modal.fade(id='kt_datatable_fetch_modal', tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header(style='color:#fff;background-color:#AB21FD')
                    h5#exampleModalLabel.modal-title(style='color:#fff') Interesses Selecionados
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      i.ki.ki-close(aria-hidden='true')
                  .modal-body
                    .scroll(data-scroll='true', data-height='200')
                      ul(id='kt_datatable_fetch_display')
                  .modal-footer.justify-content-center
                    button.btn.btn-light-danger.font-weight-bold(style='background-color:#AB21FD', type='button', data-dismiss='modal')
                      span(style='color:#fff') Fechar
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
#kt_scrolltop.scrolltop
  span.svg-icon
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
script(src='/js/controllers/facebook-interests.js', type='text/javascript')