extends layout

block content
  
  link(rel='stylesheet' href='/js/lib/formio/formio.full.min.css')
  script(src='/js/lib/formio/formio.full.min.js')
  script(src='/plugins/custom/tinymce/tinymce.bundle.js')
  script(src='/plugins/custom/tinymce/i18n/pt_BR.js')
  script.
    // ID DA FORMULÁRIO
    const id = '#{id}';
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Formulários
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Gestão do Sucesso
      .d-flex.align-items-center
        span.btn.btn-info.font-weight-bold.btn-sm.btn-preview
          i.ki.ki-double-arrow-next.icon-sm
          | Pré-Visualizar 
          small Formulário
        span.btn.btn-primary.font-weight-bold.btn-sm.ml-3.btn-update
          i.ki.ki-check.icon-sm
          | Salvar 
          small Formulário
  .d-flex.flex-column-fluid
    .container
      .card.card-custom.mb-6
        .card-body
          form#form
            .row.form-group
              .col-8.col-md-10
                label(for='nome')
                  | Nome
                  span.text-danger *
                input#nome.form-control(name='nome' type='text' required)
              .col-2.col-md-1.text-center
                label(for='status')
                  | Status
                span.switch.switch-sm.switch-icon.mt-2.justify-content-center
                  label
                    input#status(name='status' type='checkbox')
                    span
              .col-2.col-md-1.text-center
                label(for='privado')
                  | Privado
                span.switch.switch-sm.switch-icon.mt-2.justify-content-center
                  label
                    input#privado(name='privado' type='checkbox')
                    span 
            .row.form-group.mb-0
              .col-12
                label(for='descricao')
                  | Descrição
                textarea#descricao.form-control(name='descricao' rows='3')
      // TABELA
      .card.card-custom
        .card-header
          .card-toolbar.w-100
            .row.w-100.justify-content-between
              ul.nav.nav-light-info.nav-bold.nav-pills
                li.nav-item.d-flex
                  a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
                    span.nav-icon
                      i.flaticon2-pen
                    span.nav-text Formulário
                li.nav-item.d-flex
                  a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
                    span.nav-icon
                      i.flaticon2-email
                    span.nav-text E-mail
              .div.d-flex.flex-column.align-items-center
                label(for='status_email')
                  | Enviar e-mail
                span.switch.switch-sm.switch-icon
                  label
                    input#status_email(name='status_email' type='checkbox')
                    span 
        .card-body
          .tab-content
            #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
              #formio
            #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
              .alert.alert-custom.alert-secondary.mb-8(role='alert')
                .alert-icon
                  i.flaticon-questions-circular-button
                .alert-text
                  strong Atenção!
                  |  Confira abaixo as instruções de uso pra confecção do e-mail.
                  br
                  ul.mb-0.pt-2.pl-6
                    li
                      | Para que no corpo do e-mail apareça a descrição da variável acompanhada do seu valor, utilize a tag 
                      em {{variavel}}
                      | .
                    li
                      | Para que no corpo do e-mail apareça apenas o valor da variável, utilize a tag 
                      em __variavel__
                      | .
              textarea#email.tox-target(name='email')
  // MODAL
  #modal.modal.modal-fullscreen.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header.bg-primary-o-10
          h5.modal-title Pré-Visualizar 
            small Formulário
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          #formio-preview
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/formularios-id.js')