extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Formulários
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Gestão do Sucesso
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Formulário
  .d-flex.flex-column-fluid
    .container
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/formularios.js')