doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Kampana Hub')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href= layout.canonical)
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href= layout.style)
  link(rel='stylesheet' type='text/css' href='/css/aux.css')
  // Favicon
  link(rel='shortcut icon' href= layout.favicon)
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/axios/axios.min.js')
  script(src='/js/lib/jquery-mask/jquery.mask.min.js')
  script(src='/js/lib/jquery-validation/jquery.validate.min.js')
  script(src='/js/lib/jquery-validation/messages_pt_BR.min.js')
  // KAMPANA
  script(src='/js/controllers/main.js')
  script.
    // BASE DA API INTERNA
    const API_URL = '#{layout.api_url}';
    // BASE DA URL AWS
    const AWS_S3_URL = '#{layout.aws_s3}';
    // DADOS DO USUÁRIO / AUTH0
    const auth0 = JSON.parse('{\
      "user_id": "#{user.user_id}",\
      "name": "#{user.displayName}",\
      "admin": #{user.admin},\
      "funcao": "#{user.funcao}"\
    }');
body#kt_body.header-fixed.header-mobile-fixed.header-bottom-enabled
  #kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
    a(href='/')
      img.max-h-30px(alt='Logo' src= layout.logo)
    .d-flex.align-items-center
      button#kt_header_mobile_toggle.btn.p-0.burger-icon.burger-icon-left.ml-4
        span
      button#kt_header_mobile_topbar_toggle.btn.p-0.ml-2
        span.svg-icon.svg-icon-xl
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
            g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
              polygon(points='0 0 24 0 24 24 0 24')
              path(d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
              path(d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z' fill='#000000' fill-rule='nonzero')
  .d-flex.flex-column.flex-root
    .d-flex.flex-row.flex-column-fluid.page
      #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
        #kt_header.header.flex-column.header-fixed
          .header-top
            .container
              .d-none.d-lg-flex.align-items-center.mr-3
                a.mr-20(href='/')
                  img.max-h-35px(alt='Logo' src= layout.logo)
                ul.header-tabs.nav.align-self-end.font-size-lg(role='tablist')
                  li.nav-item
                    a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Início
                  li.nav-item.mr-3
                    a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_2' role='tab') Integração
                  if (user.admin)
                    li.nav-item.mr-3
                      a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_3' role='tab') Relacionamento
                  li.nav-item.mr-3
                    a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_4' role='tab') Ferramentas
                  if (user.admin)
                    li.nav-item.mr-3
                      a.nav-link.py-4.px-6(href='#' data-toggle='tab' data-target='#kt_header_tab_5' role='tab') Configurações
              .topbar.bg-primary
                .topbar-item
                  #kt_quick_user_toggle.btn.btn-icon.btn-hover-transparent-white.w-sm-auto.d-flex.align-items-center.btn-lg.px-2
                    .d-flex.flex-column.text-right.pr-sm-3
                      span.text-white.opacity-50.font-weight-bold.font-size-sm.d-none.d-sm-inline !{user.displayName.split(' ').shift()}
                      span.text-white.font-weight-bolder.font-size-sm.d-none.d-sm-inline !{user.displayName.split(' ').pop()}
                    span.symbol.symbol-35
                      span.symbol-label.font-size-h5.font-weight-bold.text-white.bg-white-o-30 !{user.displayName.charAt(0)}
          .header-bottom
            .container
              #kt_header_navs.header-navs.header-navs-left
                ul.header-tabs.p-5.p-lg-0.d-flex.d-lg-none.nav.nav-bold.nav-tabs(role='tablist')
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Início
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_2' role='tab') Integração
                  if (user.admin)
                    li.nav-item.mr-2
                      a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_3' role='tab') Relacionamento
                  li.nav-item.mr-2
                    a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_4' role='tab') Ferramentas
                  if (user.admin)
                    li.nav-item.mr-2
                      a.nav-link.btn.btn-clean(href='#' data-toggle='tab' data-target='#kt_header_tab_5' role='tab') Configurações
                .tab-content
                  #kt_header_tab_1.tab-pane.py-5.p-lg-0.show
                    .header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/')
                            span.menu-text Dashboard
                        if (user.admin)
                          li.menu-item(aria-haspopup='true')
                            a.menu-link(href='/clientes')
                              span.menu-text Clientes
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/projetos')
                            span.menu-text Projetos
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/atividades')
                            span.menu-text Atividades
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/pesquisas')
                            span.menu-text Pesquisas
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/relatorios')
                            span.menu-text Relatórios
                  #kt_header_tab_2.tab-pane.p-5.p-lg-0.justify-content-between
                    #kt_header_menu.header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item.menu-item-submenu.menu-item-rel(data-menu-toggle='click' aria-haspopup='true')
                          a.menu-link.menu-toggle(href='javascript:;')
                            span.menu-text E-commerces
                            span.menu-desc
                            i.menu-arrow
                          .menu-submenu.menu-submenu-classic.menu-submenu-left
                            ul.menu-subnav
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/nuvemshop')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                                        path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                                  span.menu-text Nuvemshop
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/shopify')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                                        path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                                  span.menu-text Shopify
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/tray')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z' fill='#000000' opacity='0.3')
                                        path(d='M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z' fill='#000000')
                                  span.menu-text Tray
                        li.menu-item.menu-item-submenu.menu-item-rel(data-menu-toggle='click' aria-haspopup='true')
                          a.menu-link.menu-toggle(href='javascript:;')
                            span.menu-text Inbound Marketing
                            span.menu-desc
                            i.menu-arrow
                          .menu-submenu.menu-submenu-classic.menu-submenu-left
                            ul.menu-subnav
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/activecampaign')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z' fill='#000000' opacity='0.3')
                                        path(d='M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z' fill='#000000')
                                  span.menu-text ActiveCampaign
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/rdstation')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z' fill='#000000' opacity='0.3')
                                        path(d='M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z' fill='#000000')
                                  span.menu-text RD Station
                        li.menu-item.menu-item-submenu.menu-item-rel(data-menu-toggle='click' aria-haspopup='true')
                          a.menu-link.menu-toggle(href='javascript:;')
                            span.menu-text Notificações
                            span.menu-desc
                            i.menu-arrow
                          .menu-submenu.menu-submenu-classic.menu-submenu-left
                            ul.menu-subnav
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/sms')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z' fill='#000000')
                                        path(d='M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z' fill='#000000' opacity='0.3')
                                  span.menu-text SMS
                              li.menu-item(aria-haspopup='true')
                                a.menu-link(href='/whatsapp')
                                  span.svg-icon.menu-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                        rect(x='0' y='0' width='24' height='24')
                                        path(d='M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z' fill='#000000')
                                        path(d='M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z' fill='#000000' opacity='0.3')
                                  span.menu-text WhatsApp
                  #kt_header_tab_3.tab-pane.p-5.p-lg-0.justify-content-between
                    .header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/leads')
                            span.menu-text Leads
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/campanhas')
                            span.menu-text Campanhas
                        // li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/links')
                            span.menu-text Links                      
                  #kt_header_tab_4.tab-pane.p-5.p-lg-0.justify-content-between
                    .header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/credenciais')
                            span.menu-text Credenciais
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/dominios')
                            span.menu-text Domínios
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/facebook-interests' target='_blank')
                            span.menu-text Facebook Interests
                  #kt_header_tab_5.tab-pane.p-5.p-lg-0.justify-content-between
                    .header-menu.header-menu-mobile.header-menu-layout-default
                      ul.menu-nav
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/usuarios')
                            span.menu-text Usuários
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/back-office')
                            em.menu-text Back-Office
                        li.menu-item(aria-haspopup='true')
                          a.menu-link(href='/formularios')
                            span.menu-text Formulários
        // COLOCAR AQUI O TIPO DE PROJETOS QUE ESTÁ SENDO EXIBIDO
        if (user.admin)
          .w-100.bg-light.border.shadow.py-2.text-center
            small EXIBINDO PROJETOS 
              if (user.externo)
                strong EXTERNOS
              else
                strong INTERNOS
        #kt_content.content.d-flex.flex-column.flex-column-fluid
          block content
        #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
          .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
            .text-dark.order-2.order-md-1
              span.text-muted.font-weight-bold.mr-2 2021 &copy;
              a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
  #kt_quick_user.offcanvas.offcanvas-right.p-10
    .offcanvas-header.d-flex.align-items-center.justify-content-between.pb-5
      img.max-h-30px(alt='Logo' src= layout.logo style='filter: brightness(0%)')
      a#kt_quick_user_close.btn.btn-xs.btn-icon.btn-light.btn-hover-primary(href='#')
        i.ki.ki-close.icon-xs.text-muted
    .offcanvas-content.pr-5.mr-n5
      .text-center
        .symbol.symbol-circle.symbol-100.mt-5
          .symbol-label(style='background-image:url(' + user.picture + ')')
          i.symbol-badge.bg-success
        .mt-5
          .font-weight-bold.text-dark-75.text-hover-primary(style='font-family: "Just Me Again Down Here", cursive; font-size: 26px;') #{user.displayName}
          .text-muted.mt-2 !{user.emails.slice().shift().value}
          .text-muted.mt-2 !{user.ultimo_login}
      .separator.separator-dashed.my-5
      if (user.admin)
        .navi.navi-spacer-x-0.p-0
          a.navi-item(href='/alternar')
            .navi-link
              if (user.externo)
                .symbol.symbol-40.bg-light.mr-3
                  .symbol-label
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                          rect(x='0' y='0' width='24' height='24')
                          path(d='M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z' fill='#000000' opacity='0.3')
                          path(d='M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z' fill='#000000')
                          rect(fill='#000000' opacity='0.3' x='10' y='9' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='9' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='13' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='13' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='17' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='17' width='7' height='2' rx='1')
              else
                .symbol.symbol-40.bg-success-light.mr-3
                  .symbol-label
                    span.svg-icon.svg-icon-md.svg-icon-success
                      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                          rect(x='0' y='0' width='24' height='24')
                          path(d='M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z' fill='#000000' opacity='0.3')
                          path(d='M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z' fill='#000000')
                          rect(fill='#000000' opacity='0.3' x='10' y='9' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='9' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='13' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='13' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='17' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='17' width='7' height='2' rx='1')
              .navi-text
                .font-weight-bold
                  small Exibir Projetos
                  |  Internos
                  if (!user.externo)
                    .label.label-sm.label-light-success.label-inline.font-weight-bold.ml-2 Ativo
                .text-muted
                  small Projetos internos, atendidos pela Kampana.
          a.navi-item(href='/alternar')
            .navi-link
              if (!user.externo)
                .symbol.symbol-40.bg-light.mr-3
                  .symbol-label
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                          rect(x='0' y='0' width='24' height='24')
                          path(d='M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z' fill='#000000' opacity='0.3')
                          path(d='M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z' fill='#000000')
                          rect(fill='#000000' opacity='0.3' x='10' y='9' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='9' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='13' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='13' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='17' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='17' width='7' height='2' rx='1')
              else
                .symbol.symbol-40.bg-success-light.mr-3
                  .symbol-label
                    span.svg-icon.svg-icon-md.svg-icon-success
                      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                          rect(x='0' y='0' width='24' height='24')
                          path(d='M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z' fill='#000000' opacity='0.3')
                          path(d='M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z' fill='#000000')
                          rect(fill='#000000' opacity='0.3' x='10' y='9' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='9' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='13' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='13' width='7' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='7' y='17' width='2' height='2' rx='1')
                          rect(fill='#000000' opacity='0.3' x='10' y='17' width='7' height='2' rx='1')
              .navi-text
                .font-weight-bold
                  small Exibir Projetos
                  |  Externos
                  if (user.externo)
                    .label.label-sm.label-light-success.label-inline.font-weight-bold.ml-2 Ativo
                .text-muted
                  small Clientes externos (ex.: loja de aplicativos, etc).
        .separator.separator-dashed.my-5
      .text-center
        a.btn.btn-sm.btn-light-primary.font-weight-bolder.py-2.px-5.btn-logout(href='/logout') Sair
  #kt_scrolltop.scrolltop
    span.svg-icon
      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
          polygon(points='0 0 24 0 24 24 0 24')
          rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
          path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')