extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-baseline.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Relacionamento
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Leads
      .d-flex.align-items-center.mt-3.mt-sm-0
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-import.disabled
          i.ki.ki-plus.icon-sm
          | Importar 
          small Manualmente
  .d-flex.flex-column-fluid
    .container
      // SELECIONAR PROJETO
      .card.card-custom.mb-6.bg-light
        .card-body
          .row.align-items-center.form-group.mb-0
            .col-12
              label Projeto
              select#projetos.form-control.select2(name='projetos')
                option(value='') Selecionar
              span.form-text.text-muted Em função do grande volume de registros, os leads são apresentados de acordo com o projeto.
      // PESQUISA
      #box-pesquisa.card.card-custom.mb-6.d-none
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      #box-tabela.card.card-custom.d-none
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/leads.js')