extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Links
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Relacionamento
      .d-flex.align-items-center.mt-3.mt-sm-0
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          | Adicionar Link
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Campanha
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form
            .row
              .col-lg-4.form-group
                label(for='campanha-projeto')
                  | Projeto
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#campanha-projeto.form-control.select2(name='campanha-projeto' required)
                    option(value='') Selecionar
              .col-lg-8.form-group
                label(for='campanha-nome')
                  | Nome
                  span.text-danger *
                input#campanha-nome.form-control(name='campanha-nome' type='text' required)
            .row
              .col-12.form-group
                label(for='campanha-descricao')
                  | Descrição
                textarea#campanha-descricao.form-control(name='campanha-descricao' rows='1')
            .row
              .col-12.form-group
                label(for='campanha-mensagem')
                  | Mensagem
                  span.text-danger *
                textarea#campanha-mensagem.form-control(name='campanha-mensagem' rows='3' required)
                span.form-text.text-muted Aqui você pode utilizar as tags 
                  strong.text-hover-primary
                    span.navi-link.campanha-variavel {nome_completo}
                  | , 
                  strong.text-hover-primary
                    span.navi-link.campanha-variavel {primeiro_nome}
                  |  e 
                  strong.text-hover-primary
                    span.navi-link.campanha-variavel {sobrenome}
                  |.
                span.form-text.text-muted
                  | Lembre-se que você também pode utilizar a formatação do WhatsApp ( _itálico_ | *negrito* | ~tachado~ ).
            .row.align-items-baseline
              .col-lg-10.form-group
                label(for='campanha-anexo')
                  | Anexo
                .custom-file
                  input#campanha-anexo.custom-file-input(type='file' accept='image/*')
                  label#campanha-anexo-label.custom-file-label(for='campanha-anexo') Selecionar
                span#campanha-anexo-extra.form-text.text-muted
              .col-lg-2.form-group
                label &nbsp;
                button.btn.btn-block.btn-light-danger.font-weight-bold.btn-attachment(type='button' disabled) Remover
            .row
              .col-lg-4.form-group
                label(for='campanha-agendamento')
                  | Agendamento
                  span.text-danger *
                #campanha-agendamento.input-group.date(data-target-input='nearest')
                  .input-group-prepend(data-target='#campanha-agendamento' data-toggle='datetimepicker')
                    span.input-group-text
                      i.ki.ki-calendar-2
                  input.form-control.datetimepicker-input(name='campanha-agendamento' type='text' placeholder='Selecionar Data e Horário' data-target='#campanha-agendamento' required)
                span.form-text.text-muted Previsão para a fila ser processada.
              .col-lg-7.form-group
                label(for='campanha-tags')
                  | Tags
                .input-group
                  .input-group-prepend
                      span.input-group-text
                        i.ki.ki-bold-sort
                  input#campanha-tags.form-control.tagify(name='campanha-tags' placeholder='Selecione um Projeto.')
                span.form-text.text-muted
                  | Não obrigatório mas 
                  strong recomendado. 
                  | Enviará para toda a base se nada for selecionado.
              .col-lg-1.form-group.text-center
                label(for='campanha-status')
                  | Status
                span.switch.switch-sm.switch-icon.mt-2
                  label.mx-auto
                    input#campanha-status(name='campanha-status' type='checkbox')
                    span
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-light-info.font-weight-bold.btn-debug(type='button') Testar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  #modal-log.modal.fade(role='dialog' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-xl
      .modal-content(style='min-height: 590px;')
        .modal-header
          h5.modal-title.ellipsis
            | Histórico de Alteração
            span#modal-log-title.d-block.text-muted.font-size-sm loja.com.br
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          .mb-5.row
            .col-12
              .input-icon
                input#kt_datatable_search_query_log.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
          #kt_datatable_log.datatable.datatable-bordered.datatable-head-custom
  // SCRIPTS DA PÁGINA
  // script(src='/js/controllers/links.js')