extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Nuvemshop
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Integração
      .d-none.d-sm-flex.align-items-center
        img.max-h-30px(alt='Nuvemshop' src='/media/integrations/logo-nuvemshop.png')
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Integração
  .d-flex.flex-column-fluid
    .container
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5.modal-title.ellipsis
            | Habilitar Eventos
            span#modal-title.d-block.text-muted.font-size-sm.ellipsis
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form
            .row.apps
              // RD STATION
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='RD Station' src='/media/integrations/logo-rdstation.png')
                    span#rdstation_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // ORDER CREATED
                .row.form-group
                  .col-7
                    label(for='rdstation-order-created')
                      small Order 
                      | Created
                    span.form-text.text-muted
                      | Pedido Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-created(name='rdstation-order-created' type='checkbox')
                        span
                // ORDER UPDATED
                //.row.form-group
                  .col-7
                    label(for='rdstation-order-updated')
                      small Order 
                      | Updated
                    span.form-text.text-muted
                      | Pedido Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-updated(name='rdstation-order-updated' type='checkbox')
                        span
                // ORDER PAID
                .row.form-group
                  .col-7
                    label(for='rdstation-order-paid')
                      small Order 
                      | Paid
                    span.form-text.text-muted
                      | Pedido Pago
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-paid(name='rdstation-order-paid' type='checkbox')
                        span
                // ORDER PACKED
                //.row.form-group
                  .col-7
                    label(for='rdstation-order-packed')
                      small Order 
                      | Packed
                    span.form-text.text-muted
                      | Pedido Embalado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-packed(name='rdstation-order-packed' type='checkbox')
                        span
                // ORDER FULFILLED
                .row.form-group
                  .col-7
                    label(for='rdstation-order-fulfilled')
                      small Order 
                      | Fulfilled
                    span.form-text.text-muted
                      | Pedido Enviado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-fulfilled(name='rdstation-order-fulfilled' type='checkbox')
                        span
                // ORDER CANCELLED
                //.row.form-group.mb-0
                  .col-7
                    label(for='rdstation-order-cancelled')
                      small Order 
                      | Cancelled
                    span.form-text.text-muted
                      | Pedido Cancelado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#rdstation-order-cancelled(name='rdstation-order-cancelled' type='checkbox')
                        span
              // ACTIVECAMPAIGN
              .col-3
                .row.form-group
                  .col-12
                    img.w-150px.h-20px(alt='Active' src='/media/integrations/logo-activecampaign.png')
                    span#activecampaign_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // ORDER CREATED
                .row.form-group
                  .col-7
                    label(for='activecampaign-order-created')
                      small Order 
                      | Created
                    span.form-text.text-muted
                      | Pedido Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-created(name='activecampaign-order-created' type='checkbox')
                        span
                // ORDER UPDATED
                //.row.form-group
                  .col-7
                    label(for='activecampaign-order-updated')
                      small Order 
                      | Updated
                    span.form-text.text-muted
                      | Pedido Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-updated(name='activecampaign-order-updated' type='checkbox')
                        span
                // ORDER PAID
                .row.form-group
                  .col-7
                    label(for='activecampaign-order-paid')
                      small Order 
                      | Paid
                    span.form-text.text-muted
                      | Pedido Pago
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-paid(name='activecampaign-order-paid' type='checkbox')
                        span
                // ORDER PACKED
                //.row.form-group
                  .col-7
                    label(for='activecampaign-order-packed')
                      small Order 
                      | Packed
                    span.form-text.text-muted
                      | Pedido Embalado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-packed(name='activecampaign-order-packed' type='checkbox')
                        span
                // ORDER FULFILLED
                .row.form-group
                  .col-7
                    label(for='activecampaign-order-fulfilled')
                      small Order 
                      | Fulfilled
                    span.form-text.text-muted
                      | Pedido Enviado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-fulfilled(name='activecampaign-order-fulfilled' type='checkbox')
                        span
                // ORDER CANCELLED
                //.row.form-group.mb-0
                  .col-7
                    label(for='activecampaign-order-cancelled')
                      small Order 
                      | Cancelled
                    span.form-text.text-muted
                      | Pedido Cancelado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#activecampaign-order-cancelled(name='activecampaign-order-cancelled' type='checkbox')
                        span
              // WHATSAPP
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='Whatsapp' src='/media/integrations/logo-whatsapp.png')
                    span#whatsapp_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // ORDER CREATED
                .row.form-group
                  .col-7
                    label(for='whatsapp-order-created')
                      small Order 
                      | Created
                    span.form-text.text-muted
                      | Pedido Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-created(name='whatsapp-order-created' type='checkbox')
                        span
                // ORDER UPDATED
                //.row.form-group
                  .col-7
                    label(for='whatsapp-order-updated')
                      small Order 
                      | Updated
                    span.form-text.text-muted
                      | Pedido Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-updated(name='whatsapp-order-updated' type='checkbox')
                        span
                // ORDER PAID
                .row.form-group
                  .col-7
                    label(for='whatsapp-order-paid')
                      small Order 
                      | Paid
                    span.form-text.text-muted
                      | Pedido Pago
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-paid(name='whatsapp-order-paid' type='checkbox')
                        span
                // ORDER PACKED
                //.row.form-group
                  .col-7
                    label(for='whatsapp-order-packed')
                      small Order 
                      | Packed
                    span.form-text.text-muted
                      | Pedido Embalado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-packed(name='whatsapp-order-packed' type='checkbox')
                        span
                // ORDER FULFILLED
                .row.form-group
                  .col-7
                    label(for='whatsapp-order-fulfilled')
                      small Order 
                      | Fulfilled
                    span.form-text.text-muted
                      | Pedido Enviado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-fulfilled(name='whatsapp-order-fulfilled' type='checkbox')
                        span
                // ORDER CANCELLED
                //.row.form-group.mb-0
                  .col-7
                    label(for='whatsapp-order-cancelled')
                      small Order 
                      | Cancelled
                    span.form-text.text-muted
                      | Pedido Cancelado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#whatsapp-order-cancelled(name='whatsapp-order-cancelled' type='checkbox')
                        span
              // SMS
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='SMS' src='/media/integrations/logo-sms.png')
                    span#sms_integracao.d-none.ml-2.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // ORDER CREATED
                .row.form-group
                  .col-7
                    label(for='sms-order-created')
                      small Order 
                      | Created
                    span.form-text.text-muted
                      | Pedido Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-created(name='sms-order-created' type='checkbox')
                        span
                // ORDER UPDATED
                //.row.form-group
                  .col-7
                    label(for='sms-order-updated')
                      small Order 
                      | Updated
                    span.form-text.text-muted
                      | Pedido Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-updated(name='sms-order-updated' type='checkbox')
                        span
                // ORDER PAID
                .row.form-group
                  .col-7
                    label(for='sms-order-paid')
                      small Order 
                      | Paid
                    span.form-text.text-muted
                      | Pedido Pago
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-paid(name='sms-order-paid' type='checkbox')
                        span
                // ORDER PACKED
                //.row.form-group
                  .col-7
                    label(for='sms-order-packed')
                      small Order 
                      | Packed
                    span.form-text.text-muted
                      | Pedido Embalado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-packed(name='sms-order-packed' type='checkbox')
                        span
                // ORDER FULFILLED
                .row.form-group
                  .col-7
                    label(for='sms-order-fulfilled')
                      small Order 
                      | Fulfilled
                    span.form-text.text-muted
                      | Pedido Enviado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-fulfilled(name='sms-order-fulfilled' type='checkbox')
                        span
                // ORDER CANCELLED
                //.row.form-group.mb-0
                  .col-7
                    label(for='sms-order-cancelled')
                      small Order 
                      | Cancelled
                    span.form-text.text-muted
                      | Pedido Cancelado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#sms-order-cancelled(name='sms-order-cancelled' type='checkbox')
                        span
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  #modal-scripts.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5.modal-title.ellipsis
            | Habilitar Scripts
            span#modal-scripts-title.d-block.text-muted.font-size-sm.ellipsis
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form
            .row.apps
              // RD STATION
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='RD Station' src='/media/integrations/logo-rdstation.png')
                    span#script_rdstation_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // RD STATION - ABANDONED CART
                .row.form-group
                  .col-7
                    label(for='script-rd-abandoned-cart')
                      | Carrinho Abandonado
                    //span.form-text.text-muted
                      | RD Station
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-rd-abandoned-cart(name='script-rd-abandoned-cart' type='checkbox')
                        span
                  .col-12
                    .d-flex.form-text.text-uppercase.align-items-center
                      small Atenção para o SKU dos produtos
                      i.flaticon-warning-sign.text-danger.ml-2
                // RD STATION - TRACKING CODE
                .row.form-group.mb-0
                  .col-7
                    label(for='script-rd-tracking-code-rd')
                      | Código de Monitoramento
                    //span.form-text.text-muted
                      | RD Station
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-rd-tracking-code-rd(name='script-rd-tracking-code-rd' type='checkbox')
                        span
              // ACTIVECAMPAIGN
              .col-3
                .row.form-group
                  .col-12
                    img.w-150px.h-20px(alt='Active' src='/media/integrations/logo-activecampaign.png')
                    span#script_activecampaign_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // ACTIVECAMPAIGN - ABANDONED CART
                .row.form-group
                  .col-7
                    label(for='script-activecampaign-abandoned-cart')
                      | Carrinho Abandonado
                    //span.form-text.text-muted
                      | Active Campaign
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-activecampaign-abandoned-cart(name='script-activecampaign-abandoned-cart' type='checkbox')
                        span
                  .col-12
                    .d-flex.form-text.text-uppercase.align-items-center
                      small Atenção para o SKU dos produtos
                      i.flaticon-warning-sign.text-danger.ml-2
                // ACTIVECAMPAIGN - TRACKING CODE
                .row.form-group.mb-0
                  .col-7
                    label(for='script-activecampaign-tracking-code-ac')
                      | Código de Monitoramento
                    //span.form-text.text-muted
                      | Active Campaign
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-activecampaign-tracking-code-ac(name='script-activecampaign-tracking-code-ac' type='checkbox')
                        span  
              // WHATSAPP
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='Whatsapp' src='/media/integrations/logo-whatsapp.png')
                    span#script_whatsapp_integracao.d-none.ml-5.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // WHATSAPP - ABANDONED CART
                .row.form-group.mb-0
                  .col-7
                    label(for='script-wpp-abandoned-cart')
                      | Carrinho Abandonado
                    //span.form-text.text-muted
                      | Whatsapp
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-wpp-abandoned-cart(name='script-wpp-abandoned-cart' type='checkbox')
                        span
                  .col-12
                    .d-flex.form-text.text-uppercase.align-items-center
                      small Atenção para o SKU dos produtos
                      i.flaticon-warning-sign.text-danger.ml-2
              // SMS
              .col-3
                .row.form-group
                  .col-12
                    img.w-90.max-h-30px(alt='SMS' src='/media/integrations/logo-sms.png')
                    span#script_sms_integracao.d-none.ml-2.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger(data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Não possui integração adicionada")
                      i.flaticon-warning-sign.text-danger
                // SMS - ABANDONED CART
                .row.form-group.mb-0
                  .col-7
                    label(for='script-sms-abandoned-cart')
                      | Carrinho Abandonado
                    //span.form-text.text-muted
                      | SMS
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#script-sms-abandoned-cart(name='script-sms-abandoned-cart' type='checkbox')
                        span
                  .col-12
                    .d-flex.form-text.text-uppercase.align-items-center
                      small Atenção para o SKU dos produtos
                      i.flaticon-warning-sign.text-danger.ml-2
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar  
  #modal-log.modal.fade(role='dialog' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-xl
      .modal-content(style='min-height: 590px;')
        .modal-header
          h5.modal-title.ellipsis
            | Histórico de Integração
            span#modal-log-title.d-block.text-muted.font-size-sm loja.com.br
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          .mb-5.row
            .col-12
              .input-icon
                input#kt_datatable_search_query_log.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
          #kt_datatable_log.datatable.datatable-bordered.datatable-head-custom
  script(src='/js/controllers/nuvemshop.js')