doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Kampana Hub')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href= layout.canonical)
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href= layout.style)
  link(rel='stylesheet' type='text/css' href='/css/aux.css')
  // Page Styles
  link(rel='stylesheet' type='text/css' href='/js/lib/formio/formio.full.min.css')
  // Favicon
  link(rel='shortcut icon' href= layout.favicon)
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/axios/axios.min.js')
  script(src='/js/lib/jquery-mask/jquery.mask.min.js')
  script(src='/js/lib/jquery-validation/jquery.validate.min.js')
  script(src='/js/lib/jquery-validation/messages_pt_BR.min.js')
  script(src='/js/lib/formio/formio.full.min.js')
  // KAMPANA
  script(src='/js/controllers/main.js')
  script.
    // BASE DA API INTERNA
    const API_URL = '#{layout.api_url}';
    // ID DA PESQUISA
    const id = '#{id}';
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  a(href='/')
    img.max-h-30px(alt='Logo' src= layout.logo)
.d-flex.flex-column.flex-root
  .d-flex.flex-row.flex-column-fluid.page
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      #kt_header.header.flex-column.header-fixed
        .header-top
          .container.justify-content-center
            .d-none.d-lg-flex.align-items-center
              a(href='/')
                img.max-h-35px(alt='Logo' src= layout.logo)
      #kt_content.content.d-flex.flex-column.flex-column-fluid
        .d-flex.flex-column-fluid
          .container
            .card.card-custom
              .card-header
                .card-title
                  h3#title.card-label
                .card-toolbar
                  span#subtitle.btn.btn-sm.font-weight-bold
              .card-body
                .alert.alert-success.d-none(role='alert') Essa pesquisa já foi respondida. Obrigado! 😃
                #formio
              .card-footer.text-center.d-none
                span.btn.btn-primary.font-weight-bold.btn-sm.btn-submit
                  // i.ki.ki-plus.icon-sm
                  | Enviar Respostas
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
#kt_scrolltop.scrolltop
  span.svg-icon
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
script(src='/js/controllers/pesquisas-id.js')