extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Pesquisas
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Gestão do Sucesso
      .d-flex.align-items-center.mt-3.mt-sm-0
        button.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Pesquisa
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  // MODAL
  #modal.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-md(role='document')
      .modal-content
        .modal-header
          h5#modal-title.modal-title Adicionar Pesquisa
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form
            // MÊS & ANO
            .row
              .col-6.form-group
                label(for='mes')
                  | Mês
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#mes.form-control.select2(name='mes' required)
                    option(value='') Selecionar
                    option(value='1') Janeiro
                    option(value='2') Fevereiro
                    option(value='3') Março
                    option(value='4') Abril
                    option(value='5') Maio
                    option(value='6') Junho
                    option(value='7') Julho
                    option(value='8') Agosto
                    option(value='9') Setembro
                    option(value='10') Outubro
                    option(value='11') Novembro
                    option(value='12') Dezembro
              .col-6.form-group
                label(for='ano')
                  | Ano
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#ano.form-control.select2(name='ano' required)
                    option(value='') Selecionar
                    option(value='2021') 2021
            // CLIENTE
            .row
              .col-12.form-group
                label(for='projeto')
                  | Projeto
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#projeto.form-control.select2(name='projeto' required)
                    option(value='') Selecionar
            // FORMULÁRIO
            .row
              .col-12.form-group
                label(for='formulario')
                  | Formulário
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#formulario.form-control.select2(name='formulario' required)
                    option(value='') Selecionar
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/pesquisas.js')