extends layout

block content
  
  style.
    /* STYLE - SENHA */
    .inner-addon {
      position: relative;
      display: flex;
    }

    .inner-addon .flaticon {
      padding: 10px;
      cursor: pointer;
      position: absolute;
    }
    
    .inner-addon .flaticon:hover {
      color: black;
    }

    .bi-eye-slash { 
      right: 35px;
    }
    
    .bi-eye { 
      right: 35px;
    }

    .flaticon2-copy { 
      right: 0px;
    }
    
    .flaticon2-graphic-design { 
      right: 0px;
    }
  
  script.
    // ID DO PROJETO
    const id = '#{id}';
  .d-flex.flex-column-fluid
    .container
      .card.card-custom.bg-primary.bgi-no-repeat.mb-8(style='background-image: url(/media/kampana-pattern.png); background-size: 30%; background-position: 75% 0%;')
        .card-body
          .d-flex
            #thumbnail.d-none.d-md-flex.flex-shrink-0.mr-7.mt-lg-0.mt-3
              .d-table.h-100
                .d-table-cell.align-middle
                  .text-center.min-w-80px
                    i.fas.fa-spinner.fa-spin
            .flex-grow-1
              .d-flex.align-items-center.justify-content-between.flex-wrap
                .mr-3
                  span#projeto-nome.d-flex.align-items-center.text-white.font-size-h5.font-weight-bold.mr-3
                    i.fas.fa-spinner.fa-spin
                  .d-flex.flex-wrap.my-2
                    span.text-muted.font-weight-bold.mr-lg-8.mr-5.mb-lg-0.mb-2.d-none.d-sm-block
                      span.svg-icon.svg-icon-md.svg-icon-gray-500.mr-1
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            rect(x='0' y='0' width='24' height='24')
                            path(d='M5.84026576,8 L18.1597342,8 C19.1999115,8 20.0664437,8.79732479 20.1528258,9.83390904 L20.8194924,17.833909 C20.9112219,18.9346631 20.0932459,19.901362 18.9924919,19.9930915 C18.9372479,19.9976952 18.8818364,20 18.8264009,20 L5.1735991,20 C4.0690296,20 3.1735991,19.1045695 3.1735991,18 C3.1735991,17.9445645 3.17590391,17.889153 3.18050758,17.833909 L3.84717425,9.83390904 C3.93355627,8.79732479 4.80008849,8 5.84026576,8 Z M10.5,10 C10.2238576,10 10,10.2238576 10,10.5 L10,11.5 C10,11.7761424 10.2238576,12 10.5,12 L13.5,12 C13.7761424,12 14,11.7761424 14,11.5 L14,10.5 C14,10.2238576 13.7761424,10 13.5,10 L10.5,10 Z' fill='#000000')
                            path(d='M10,8 L8,8 L8,7 C8,5.34314575 9.34314575,4 11,4 L13,4 C14.6568542,4 16,5.34314575 16,7 L16,8 L14,8 L14,7 C14,6.44771525 13.5522847,6 13,6 L11,6 C10.4477153,6 10,6.44771525 10,7 L10,8 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
                      span#cliente-nome
                        i.fas.fa-spinner.fa-spin
                    span.text-muted.font-weight-bold.mr-lg-8.mr-5.mb-lg-0.mb-2
                      span.svg-icon.svg-icon-md.svg-icon-gray-500.mr-1
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                            polygon(points='0 0 24 0 24 24 0 24')
                            path(d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
                            path(d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z' fill='#000000' fill-rule='nonzero')
                      span#administrador-nome
                        i.fas.fa-spinner.fa-spin
                #projeto-tags.mb-4
                  i.fas.fa-spinner.fa-spin
              #projeto-descricao.text-muted
                i.fas.fa-spinner.fa-spin
      .card.card-custom
        .card-header.card-header-tabs-line.justify-content-center
          .card-toolbar
            ul.nav.nav-tabs.nav-bold.nav-tabs-line.py-8.py-sm-0
              li.nav-item
                a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
                  span.nav-icon
                    i.flaticon-open-box
                  span.nav-text Atividades
              li.nav-item
                a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
                  span.nav-icon
                    i.flaticon-pie-chart
                  span.nav-text Relatórios
              li.nav-item
                a.nav-link(data-toggle='tab' href='#kt_tab_pane_3')
                  span.nav-icon
                    i.flaticon-clipboard
                  span.nav-text Pesquisas
              li.nav-item
                a.nav-link(data-toggle='tab' href='#kt_tab_pane_4')
                  span.nav-icon
                    i.flaticon-cogwheel
                  span.nav-text Integrações
              li.nav-item
                a.nav-link(data-toggle='tab' href='#kt_tab_pane_5')
                  span.nav-icon
                    i.flaticon-suitcase
                  span.nav-text Escopo
              li.nav-item
                a.nav-link(data-toggle='tab' href='#kt_tab_pane_6')
                  span.nav-icon
                    i.flaticon-lock
                  span.nav-text Credenciais
        .card-body
          .tab-content
            #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
              .row.align-items-center
                .col-lg-3.col-xl-2.order-lg-2.mb-8
                  button.btn.btn-sm.btn-block.btn-primary.font-weight-bold.btn-create-atividade
                    i.ki.ki-plus.icon-sm
                    small Adicionar 
                    | Atividade
                .col-lg-9.col-xl-10.order-lg-1.mb-8
                  .input-icon
                    input#atividades-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #atividades.datatable.datatable-bordered.datatable-head-custom
            #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
              .row.align-items-cente
                .col-lg-3.col-xl-2.order-lg-2.mb-8
                  button.btn.btn-sm.btn-block.btn-primary.font-weight-bold.btn-create-relatorio
                    i.ki.ki-plus.icon-sm
                    small Adicionar 
                    | Relatório
                .col-lg-9.col-xl-10.order-lg-1.mb-8
                  .input-icon
                    input#relatorios-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #relatorios.datatable.datatable-bordered.datatable-head-custom
            #kt_tab_pane_3.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_3')
              .row.align-items-center
                .col-lg-3.col-xl-2.order-lg-2.mb-8
                  button.btn.btn-sm.btn-block.btn-primary.font-weight-bold.btn-create-pesquisa
                    i.ki.ki-plus.icon-sm
                    small Adicionar 
                    | Pesquisa
                .col-lg-9.col-xl-10.order-lg-1.mb-8
                  .input-icon
                    input#pesquisas-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #pesquisas.datatable.datatable-bordered.datatable-head-custom
            #kt_tab_pane_4.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_4')
              .row.align-items-center.mb-8
                .col-12
                  .input-icon
                    input#integracoes-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #integracoes.datatable.datatable-bordered.datatable-head-custom
            #kt_tab_pane_5.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_5')
              .row.align-items-center.mb-8
                .col-12
                  .input-icon
                    input#escopo-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #escopo.datatable.datatable-bordered.datatable-head-custom
            #kt_tab_pane_6.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_6')
              .row.align-items-center
                .col-lg-3.col-xl-2.order-lg-2.mb-8
                  button.btn.btn-sm.btn-block.btn-primary.font-weight-bold.btn-create-credencial
                    i.ki.ki-plus.icon-sm
                    small Adicionar 
                    | Credencial
                .col-lg-9.col-xl-10.order-lg-1.mb-8
                  .input-icon
                    input#credenciais-search-query.form-control(type='text' placeholder='Pesquisar...')
                    span
                      i.flaticon2-search-1.text-muted
              #credenciais.datatable.datatable-bordered.datatable-head-custom  
  // MODAL atividade
  #modal-atividade.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#modal-atividade-title.modal-title Adicionar Atividade
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form-atividade
            .row
              // DATA
              .col-4.form-group
                label(for='atividade-data')
                  | Data
                  span.text-danger *
                #atividade-data.input-group.date(data-target-input='nearest')
                  .input-group-prepend(data-target='#atividade-data' data-toggle='datetimepicker')
                    span.input-group-text
                      i.ki.ki-calendar-2
                  input.form-control.datetimepicker-input(name='atividade-data' type='text' placeholder='Selecionar Data' data-target='#atividade-data' required)
              // NOME
              .col-8.form-group
                label(for='atividade-nome')
                  | Nome
                  span.text-danger *
                input#atividade-nome.form-control(name='atividade-nome' type='text' required)
            // SQUAD
            .row
              .col-12.form-group
                label(for='atividade-squad')
                  | Squad
                .input-group
                  .input-group-prepend
                      span.input-group-text
                        i.ki.ki-bold-sort
                  input#atividade-squad.form-control.tagify(name='atividade-squad' placeholder='Selecionar Integrante(s)')
                span.form-text.text-muted Insira aqui outros membros envolvidos quando aplicável.
            // DESCRIÇÃO
            .row
              .col-12.form-group
                label(for='atividade-descricao')
                  | Descrição
                textarea#atividade-descricao.form-control(name='atividade-descricao' rows='3')
                span.form-text.text-muted Insira aqui os detalhes quando aplicável.
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save-atividade(type='button') Salvar
  // MODAL RELATÓRIOS
  #modal-relatorio.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-md(role='document')
      .modal-content
        .modal-header
          h5#modal-relatorio-title.modal-title Adicionar Relatório
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form-relatorio
            // MÊS & ANO
            .row
              .col-6.form-group
                label(for='relatorio-mes')
                  | Mês
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#relatorio-mes.form-control.select2(name='relatorio-mes' required)
                    option(value='') Selecionar
                    option(value='1') Janeiro
                    option(value='2') Fevereiro
                    option(value='3') Março
                    option(value='4') Abril
                    option(value='5') Maio
                    option(value='6') Junho
                    option(value='7') Julho
                    option(value='8') Agosto
                    option(value='9') Setembro
                    option(value='10') Outubro
                    option(value='11') Novembro
                    option(value='12') Dezembro
              .col-6.form-group
                label(for='relatorio-ano')
                  | Ano
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#relatorio-ano.form-control.select2(name='relatorio-ano' required)
                    option(value='') Selecionar
                    option(value='2021') 2021
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save-relatorio(type='button') Salvar
  // MODAL
  #modal-pesquisa.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-md(role='document')
      .modal-content
        .modal-header
          h5#modal-pesquisa-title.modal-title Adicionar Pesquisa
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form-pesquisa
            // MÊS & ANO
            .row
              .col-6.form-group
                label(for='pesquisa-mes')
                  | Mês
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#pesquisa-mes.form-control.select2(name='pesquisa-mes' required)
                    option(value='') Selecionar
                    option(value='1') Janeiro
                    option(value='2') Fevereiro
                    option(value='3') Março
                    option(value='4') Abril
                    option(value='5') Maio
                    option(value='6') Junho
                    option(value='7') Julho
                    option(value='8') Agosto
                    option(value='9') Setembro
                    option(value='10') Outubro
                    option(value='11') Novembro
                    option(value='12') Dezembro
              .col-6.form-group
                label(for='pesquisa-ano')
                  | Ano
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#pesquisa-ano.form-control.select2(name='pesquisa-ano' required)
                    option(value='') Selecionar
                    option(value='2021') 2021
            // FORMULÁRIO
            .row
              .col-12.form-group
                label(for='pesquisa-formulario')
                  | Formulário
                  span.text-danger *
                .d-flex(style='flex-direction: column-reverse;')
                  select#pesquisa-formulario.form-control.select2(name='pesquisa-formulario' required)
                    option(value='') Selecionar
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save-pesquisa(type='button') Salvar
  // MODAL CREDENCIAIS
  #modal-credencial.modal.fade(role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modal-credencial-title.modal-title Adicionar Credencial
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body.pb-0
          form#form-credencial
            // CREDENCIAL
            .row
              // NOME
              .col-6.form-group
                label(for='credencial-nome')
                  | Nome
                  span.text-danger *
                input#credencial-nome.form-control(name='credencial-nome' type='text' required)
              // USUARIO
              .col-6.form-group
                label(for='credencial-usuario')
                  | Usuário
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-usuario.form-control(name='credencial-usuario' type='text' required)
                  i#btnCopyUser.flaticon.flaticon2-copy.icon-xl.d-none
            .row
              // URL
              .col-6.form-group
                label(for='credencial-url')
                  | Url
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-url.form-control(name='credencial-url' type='text' required)
                  i#btnRdrtUrl.flaticon.flaticon2-graphic-design.icon-xl.d-none
              // SENHA
              .col-6.form-group
                label
                  | Senha
                  span.text-danger *
                .inner-addon.right-addon.align-items-center
                  input#credencial-senha.form-control(name='credencial-senha' type='password' required)
                  i#btnViewPass.flaticon.bi.bi-eye.d-none(style='font-size:25px; margin-bottom:10px')
                  i#btnCopyPass.flaticon.flaticon2-copy.icon-xl.d-none
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save-credencial(type='button') Salvar
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/projetos-id.js')