extends layout

block content
  
  link(rel='stylesheet' type='text/css' href='https://bossanova.uk/jspreadsheet/v4/jexcel.css')
  script(src='https://bossanova.uk/jspreadsheet/v4/jexcel.js')
  link(rel='stylesheet' href='https://jsuites.net/v4/jsuites.css' type='text/css')
  script(src='https://jsuites.net/v4/jsuites.js')
  style.
    .symbol.symbol-40 > img {
      width: 40px;
    }
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Projetos
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Início
      .d-flex.align-items-center
        if (user.admin)
          button.btn.btn-primary.font-weight-bold.btn-sm.btn-create
            i.ki.ki-plus.icon-sm
            small Adicionar 
            | Projeto
  .d-flex.flex-column-fluid
    .container
      // PESQUISA
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      // TABELA
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  if (user.admin)
    // MODAL
    #modal.modal.modal-fullscreen.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#modal-title.modal-title Adicionar Projeto
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              i.ki.ki-close(aria-hidden='true')
          ul.nav.nav-tabs.nav-bold.nav-tabs-line.py-8.py-sm-0.justify-content-center.bg-light-primary.shadow-xs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
                span.nav-icon
                  i.flaticon-folder
                span.nav-text Geral
            li.nav-item
              a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
                span.nav-icon
                  i.flaticon-suitcase
                span.nav-text Comercial
            li.nav-item
              a.nav-link(data-toggle='tab' href='#kt_tab_pane_3')
                span.nav-icon
                  i.flaticon-layers
                span.nav-text Digital
          .modal-body.pb-0
            .container
              form#form
                .tab-content
                  #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
                    .row.form-group
                      .col-lg-6
                        label(for='projeto-cliente')
                          | Cliente
                          span.text-danger *
                        .d-flex(style='flex-direction: column-reverse;')
                          select#projeto-cliente.form-control(name='projeto-cliente' required)
                      .col-lg-5
                        label(for='projeto-nome')
                          | Nome
                          span.text-danger *
                        input#projeto-nome.form-control(name='projeto-nome' type='text' required)
                      .col-lg-1
                        label(for='projeto-status')
                          | Status
                        span.switch.switch-sm.switch-icon.mt-1
                          label
                            input#projeto-status(name='projeto-status' type='checkbox' checked='checked')
                            span
                    .row.align-items-baseline
                      .col-lg-10.form-group
                        label(for='projeto-avatar')
                          | Avatar
                        .custom-file
                          input#projeto-avatar.custom-file-input(type='file' accept='image/*')
                          label#projeto-avatar-label.custom-file-label(for='projeto-avatar') Selecionar
                        span#projeto-avatar-extra.form-text.text-muted
                      .col-lg-2.form-group
                        label &nbsp;
                        button.btn.btn-block.btn-light-danger.font-weight-bold.btn-attachment(type='button' disabled) Remover
                    .row.form-group
                      .col-12
                        label(for='projeto-descricao')
                          | Descrição
                        textarea#projeto-descricao.form-control(name='projeto-descricao' rows='3')
                    .row.form-group
                      .col-12
                        label(for='projeto-gerente')
                          | Gerente de Contas
                        select#projeto-gerente.form-control(name='projeto-gerente')
                    .row.form-group
                      .col-12
                        label(for='projeto-tags')
                          | Tags
                        .input-group
                          .input-group-prepend
                              span.input-group-text
                                i.ki.ki-bold-sort
                          input#projeto-tags.form-control.tagify(name='projeto-tags' placeholder='Selecione as tags aplicáveis.')
                        span.form-text.text-muted
                          | Não obrigatório mas 
                          strong recomendado. 
                          | Auxilia na identificação do projeto.
                  #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
                    h4 Kampana 
                      small.text-muted.d-block.d-sm-inline Dados da negociação.
                    .separator.separator-solid.my-5
                    .row.form-group
                      .col-lg-4
                        label(for='comercial-kampana-mrr')
                          | MRR
                        .input-group
                          .input-group-prepend(data-target='comercial-kampana-mrr')
                            span.input-group-text R$
                          input#comercial-kampana-mrr.form-control(name='comercial-kampana-mrr' type='text')
                      .col-lg-4
                        label(for='comercial-kampana-data-venda')
                          | Data da Venda
                        #comercial-kampana-data-venda.input-group.date(data-target-input='nearest')
                          .input-group-prepend(data-target='#comercial-kampana-data-venda' data-toggle='datetimepicker')
                            span.input-group-text
                              i.ki.ki-calendar-2
                          input.form-control.datetimepicker-input(name='comercial-kampana-data-venda' type='text' placeholder='Selecionar Data' data-target='#comercial-kampana-data-venda')
                      .col-lg-4
                        label(for='comercial-kampana-data-fim')
                          | Data de Fim
                        #comercial-kampana-data-fim.input-group.date(data-target-input='nearest')
                          .input-group-prepend(data-target='#comercial-kampana-data-fim' data-toggle='datetimepicker')
                            span.input-group-text
                              i.ki.ki-calendar-2
                          input.form-control.datetimepicker-input(name='comercial-kampana-data-fim' type='text' placeholder='Selecionar Data' data-target='#comercial-kampana-data-fim')
                    .row.form-group
                      .col-12
                        label Escopo do Contrato
                        #comercial-escopo.d-block
                        script.
                          let escopo = jspreadsheet(document.getElementById('comercial-escopo'), {
                            data: [['', '', '']],
                            columns: [{
                              type: 'dropdown',
                              title: 'Serviço',
                              width: 635,
                              source: [
                                'Reunião de Alinhamento',
                                'Produção e Envio de E-mail Marketing',
                                'Fluxo de Automação',
                                'Construção de Landing Page',
                                'Gestão de Campanha de Anúncios',
                                'Produção de Criativos para Campanha de Anúncios',
                                'Produção de Peças para Redes Sociais',
                                'Criação de Conteúdo Rico'
                              ]
                            }, {
                              type: 'numeric',
                              title: 'Quantidade',
                              width: 300
                            }, {
                              type: 'dropdown',
                              title: 'Frequência',
                              width: 300,
                              source: ['Semanal','Mensal','Bimestral','Trimestral','Semestral', 'Anual']
                            }]
                          });
                    h4 RD Station 
                      small.text-muted.d-block.d-sm-inline Dados para avaliação da parceria.
                    .separator.separator-solid.my-5
                    .row.form-group
                      .col-lg-3
                        label(for='comercial-rd-plano')
                          | Plano
                        .d-flex(style='flex-direction: column-reverse;')
                          select#comercial-rd-plano.form-control(name='comercial-rd-plano')
                            option(value='') Selecionar
                            option(value='Light') Light
                            option(value='Basic') Basic
                            option(value='Pro') Pro
                            option(value='Enterprise') Enterprise
                      .col-lg-3
                        label(for='comercial-rd-mrr')
                          | MRR
                        .input-group
                          .input-group-prepend(data-target='comercial-rd-mrr')
                            span.input-group-text R$
                          input#comercial-rd-mrr.form-control(name='comercial-rd-mrr' type='text')
                      .col-lg-3
                        label(for='comercial-rd-data')
                          | Data da Venda
                        #comercial-rd-data-venda.input-group.date(data-target-input='nearest')
                          .input-group-prepend(data-target='#comercial-rd-data-venda' data-toggle='datetimepicker')
                            span.input-group-text
                              i.ki.ki-calendar-2
                          input.form-control.datetimepicker-input(name='comercial-rd-data-venda' type='text' placeholder='Selecionar Data' data-target='#comercial-rd-data-venda')
                      .col-lg-3
                        label(for='comercial-rd-status')
                          | Status
                        .d-flex(style='flex-direction: column-reverse;')
                          select#comercial-rd-status.form-control(name='comercial-rd-status')
                            option(value='') Selecionar
                            option(value='Ativo') Ativo
                            option(value='Encerrado') Encerrado
                            option(value='Cancelado') Cancelado
                  #kt_tab_pane_3.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_3')
                    h4 Domínios 
                      small.text-muted.d-block.d-sm-inline Endereços utilizados pelo projeto na web.
                    .separator.separator-solid.my-5
                    .row.form-group
                      .col-12
                        #dominios.d-block
                        #dominiosBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                          i.la.la-trash-o
                          | Remover Linha
                        #dominiosBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                          i.la.la-plus
                          | Adicionar Linha
                        script.
                          let dominios;
                          dominios = jspreadsheet(document.getElementById('dominios'), {
                            data: [['']],
                            columns: [{
                              type: 'text',
                              title: 'Domínio',
                              width: 1235
                            }],
                            onload: async function() {
                              if (dominios) {
                                if (dominios.getData().length > 1) $('#dominiosBtnDelRow').removeClass('d-none');
                              }
                            },
                            oninsertrow: function() {
                              if (dominios.getData().length > 1) {
                                $('#dominiosBtnDelRow').removeClass('d-none');
                              }
                            },
                            ondeleterow: function() {
                              if (dominios.getData().length == 1) {
                                $('#dominiosBtnDelRow').addClass('d-none');
                              }
                            }
                          });
                          //
                          $('#dominiosBtnAddRow').on('click', function() {
                            dominios.insertRow(['']);
                          });
                          //
                          $('#dominiosBtnDelRow').on('click', function() {
                            dominios.deleteRow();
                          });
                    h4 Redes Sociais 
                      small.text-muted.d-block.d-sm-inline Canais digitais do projeto.
                    .separator.separator-solid.my-5
                    .row.form-group
                      .col-12
                        #redes-sociais.d-block
                        #redesBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                          i.la.la-trash-o
                          | Remover Linha
                        #redesBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                          i.la.la-plus
                          | Adicionar Linha
                        script.
                          let redes_sociais;
                          redes_sociais = jspreadsheet(document.getElementById('redes-sociais'), {
                            data: [['', '']],
                            columns: [{
                              type: 'dropdown',
                              title: 'Rede',
                              width: 620,
                              source: ['Facebook','Instagram','LinkedIn','Twitter','Pinterest', 'YouTube']
                            }, {
                              type: 'text',
                              title: 'Usuário',
                              width: 615
                            }],
                            onload: async function() {
                              if (redes_sociais) {
                                if (redes_sociais.getData().length > 1) $('#redesBtnDelRow').removeClass('d-none');
                              }
                            },
                            oninsertrow: function() {
                              if (redes_sociais.getData().length > 1) {
                                $('#redesBtnDelRow').removeClass('d-none');
                              }
                            },
                            ondeleterow: function() {
                              if (redes_sociais.getData().length == 1) {
                                $('#redesBtnDelRow').addClass('d-none');
                              }
                            }
                          });
                          //
                          $('#redesBtnAddRow').on('click', function() {
                            redes_sociais.insertRow(['', '']);
                          });
                          //
                          $('#redesBtnDelRow').on('click', function() {
                            redes_sociais.deleteRow();
                          });
          .modal-footer
            button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
            button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  // SCRIPTS DA PÁGINA
  script(src='/js/controllers/projetos.js')