extends layout

block content
  
  script(src='/plugins/custom/tinymce/tinymce.bundle.js')
  script(src='/plugins/custom/tinymce/i18n/pt_BR.js')
  script(src='https://bossanova.uk/jspreadsheet/v4/jexcel.js')
  script(src='https://jsuites.net/v4/jsuites.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js')
  link(rel='stylesheet' href='https://bossanova.uk/jspreadsheet/v4/jexcel.css' type='text/css')
  link(rel='stylesheet' href='https://jsuites.net/v4/jsuites.css' type='text/css')
  style.
    .jexcel_content, .jexcel {
      width: 100%
    }
    .swal-wide{
      width: 1080px !important;
    }
  script.
    // ID DA FORMULÁRIO
    const id = '#{id}';
  style(type='text/css').
    .divTableCell, .divTableHead { width: 100%; border: 1px solid #999999; display: table-cell; padding: 1px; text-align: center;}
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Relatórios
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm.mr-5
          li.breadcrumb-item.text-muted
            span.text-muted Gestão do Sucesso
      .d-flex.align-items-center
        //span.btn.btn-info.font-weight-bold.btn-sm.btn-view
          i.ki.ki-double-arrow-next.icon-sm
          | Visualizar 
          small Relatório
        span.btn.btn-info.font-weight-bold.btn-sm.btn-update
          i.flaticon2-checkmark
          | Salvar 
          small Relatório
  .d-flex.flex-column-fluid
    .container
      .card.card-custom.gutter-b
        .card-body
          // MÊS & ANO
          .row
            .col-2
              label(for='mes')
                | Mês
                span.text-danger *
              .d-flex(style='flex-direction: column-reverse;')
                select#mes.form-control(name='mes' required)
                  option(value='') Selecionar
                  option(value='1') Janeiro
                  option(value='2') Fevereiro
                  option(value='3') Março
                  option(value='4') Abril
                  option(value='5') Maio
                  option(value='6') Junho
                  option(value='7') Julho
                  option(value='8') Agosto
                  option(value='9') Setembro
                  option(value='10') Outubro
                  option(value='11') Novembro
                  option(value='12') Dezembro
            .col-2
              label(for='ano')
                | Ano
                span.text-danger *
              .d-flex(style='flex-direction: column-reverse;')
                select#ano.form-control(name='ano' required)
                  option(value='') Selecionar
                  option(value='2021') 2021
            // CLIENTE
            .col-7
              label(for='projeto')
                | Projeto
                span.text-danger *
              .d-flex(style='flex-direction: column-reverse;')
                select#projeto.form-control(name='projeto' required)
                  option(value='') Selecionar
            .col-1
              label(for='status')
                | Status
              span.switch.switch-sm.switch-icon.mt-1
                label
                  input#status(name='status' type='checkbox' checked='checked')
                  span
      .card.card-custom
        .card-header.card-header-tabs-line.justify-content-center.col-12
          ul.nav.nav-tabs.nav-bold.nav-tabs-line.w-100
            li.nav-item.col-2
              a.nav-link.justify-content-center.active(data-toggle='tab' href='#kt_tab_pane_1')
                span.nav-icon
                  i.flaticon-line-graph
                span.nav-text Destaques do Mês
            li.nav-item.col-2
              a.nav-link.justify-content-center(data-toggle='tab' href='#kt_tab_pane_2')
                span.nav-icon
                  i.flaticon-paper-plane
                span.nav-text Mídia Paga
            li.nav-item.col-2
              a.nav-link.justify-content-center(data-toggle='tab' href='#kt_tab_pane_3')
                span.nav-icon
                  i.flaticon-imac
                span.nav-text Landing Pages
            li.nav-item.col-2
              a.nav-link.justify-content-center(data-toggle='tab' href='#kt_tab_pane_4')
                span.nav-icon
                  i.flaticon-email
                span.nav-text E-mail Marketing
            li.nav-item.col-2
              a.nav-link.justify-content-center(data-toggle='tab' href='#kt_tab_pane_5')
                span.nav-icon
                  i.flaticon-network
                span.nav-text Redes Sociais
            li.nav-item.col-2
              a.nav-link.justify-content-center(data-toggle='tab' href='#kt_tab_pane_6')
                span.nav-icon
                  i.flaticon-open-box
                span.nav-text Planejamento
        .card-body
          .tab-content
            #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
              // 01 - VISÃO GERAL
              h3
                | 1. Visão Geral 
                small.text-muted.d-block.d-sm-inline Comentários sobre o desempenho no mês.
              .separator.separator-solid.my-5
              textarea#visao-geral.mb-10.tox-target(name='visao-geral')
              // 02 - FUNIL DE VENDAS
              h3.mt-10
                | 2. Funil de Vendas 
                small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
              .separator.separator-solid.my-5
              .form-group.row
                .col-lg-3
                  label Vistantes:
                  input#visitantes.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Leads:
                  input#leads.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Oportunidades:
                  input#oportunidades.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Vendas:
                  input#vendas.form-control(type='text' placeholder='N°')
              textarea#funil-vendas.tox-target(name='funil-vendas')
              // 03 - PROCESSO DE COMPRA
              h3.mt-10
                | 3. Processo de Compra 
                small.text-muted.d-block.d-sm-inline Dados obtidos da loja virtual.
              .separator.separator-solid.my-5
              .form-group.row
                .col-lg-3
                  label Carrinho Criado:
                  input#carrinho_criado.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Início Compra:
                  input#inicio_compra.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Endereço Preenchido:
                  input#endereco_preenchido.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Pedido Criado:
                  input#pedido_criado.form-control(type='text' placeholder='N°')
              textarea#funil-vendas.tox-target(name='funil-vendas')
              h3.mt-10
                | 4. Métricas de Aquisição 
                small.text-muted.d-block.d-sm-inline Avalia de maneira geral o desempenho da loja virtual.
              .separator.separator-solid.my-5
              textarea#metricas-aquisicao.tox-target(name='metricas-aquisicao')
              h3.mt-10
                | 4.1. Visão Consolidada
              h5.mt-5
                | Indicador
              .form-group.row
                .col-lg-6.mt-2
                  input#pedidos_realizados.form-control(type='text' placeholder='N°')
                  span.form-text.text-muted Pedidos Realizados
                .col-lg-6.mt-2
                  input#pedidos_pagos.form-control(type='text' placeholder='N°')
                  span.form-text.text-muted Pedidos Pagos
              h5.mt-5
                | Receita
              .form-group.row
                .col-lg-3.mt-2
                  input#faturamento_realizado.form-control(type='text' placeholder='R$')
                  span.form-text.text-muted Faturamento - Realizado
                .col-lg-3.mt-2
                  input#ticket_medio_realizado.form-control(type='text' placeholder='R$' disabled)
                  span.form-text.text-muted Ticket Médio - Realizado
                .col-lg-3.mt-2
                  input#faturamento_pago.form-control(type='text' placeholder='R$')
                  span.form-text.text-muted Faturamento - Pago
                .col-lg-3.mt-2
                  input#ticket_medio_pago.form-control(type='text' placeholder='R$' disabled)
                  span.form-text.text-muted Ticket Médio - Pago
              h3.mt-10
                | 4.2. Tráfego Pago
              .kt-portlet__body.pt-0
                #trafego_spreadsheet
                #trafegoBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                  i.la.la-trash-o
                  | Remover Linha
                #trafegoBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                  i.la.la-plus
                  | Adicionar Linha
            #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
              // 05 - MÍDIA PAGA
              #padrao_bloco
                h3
                  | Opção indisponível devido a falta de informação de Tráfego Pago.
              // 05.1 - FACEBOOK ADS
              #facebook_ads_bloco.d-none
                h3
                  #facebook_ads_titulo
                .separator.separator-solid.my-5
                textarea#midia-paga-facebook-ads.mb-10.tox-target(name='midia-paga-facebook-ads')
                .kt-portlet__body.pt-0.mt-10
                .form-group.row
                  .col-12
                    #midia_paga_facebook_ads_spreadsheet
                    #midiaPagaFacebookAdsBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                      i.la.la-trash-o
                      | Remover Linha
                    #midiaPagaFacebookAdsBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                      i.la.la-plus
                      | Adicionar Linha
                .form-group.row
                  .col-12
                    label Biblioteca de Anúncios
                    input#midia_paga_facebook_ads_anuncio.form-control(type='text' placeholder='Link')
              // 05.2 - GOOGLE ADS
              #google_ads_bloco.d-none
                h3.mt-10
                  #google_ads_titulo
                .separator.separator-solid.my-5
                textarea#midia-paga-google-ads.mb-10.tox-target(name='midia-paga-google-ads')
                .kt-portlet__body.pt-0.mt-10
                  #midia_paga_google_ads_spreadsheet
                  #midiaPagaGoogleAdsBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                    i.la.la-trash-o
                    | Remover Linha
                  #midiaPagaGoogleAdsBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                    i.la.la-plus
                    | Adicionar Linha
                .form-group.row
                  .col-lg-12.mt-10
                    label Biblioteca de Anúncios
                    input#midia_paga_google_ads_anuncio.form-control(type='text' placeholder='Link') 
              // 05.3 - PINTEREST ADS
              #pinterest_ads_bloco.d-none
                h3.mt-10
                  #pinterest_ads_titulo
                .separator.separator-solid.my-5
                textarea#midia-paga-pinterest-ads.mb-10.tox-target(name='midia-paga-pinterest-ads')
                .kt-portlet__body.pt-0.mt-10
                  #midia_paga_pinterest_ads_spreadsheet
                  #midiaPagaPinterestAdsBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                    i.la.la-trash-o
                    | Remover Linha
                  #midiaPagaPinterestAdsBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                    i.la.la-plus
                    | Adicionar Linha
                .form-group.row
                  .col-lg-12.mt-10
                    label Biblioteca de Anúncios
                    input#midia_paga_pinterest_ads_anuncio.form-control(type='text' placeholder='Link') 
              // 05.4 - LINKEDIN ADS
              #linkedin_ads_bloco.d-none
                h3.mt-10
                  #linkedin_ads_titulo
                .separator.separator-solid.my-5
                textarea#midia-paga-linkedin-ads.mb-10.tox-target(name='midia-paga-linkedin-ads')
                .kt-portlet__body.pt-0.mt-10
                  #midia_paga_linkedin_ads_spreadsheet
                  #midiaPagaLinkedinAdsBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                    i.la.la-trash-o
                    | Remover Linha
                  #midiaPagaLinkedinAdsBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                    i.la.la-plus
                    | Adicionar Linha
                .form-group.row
                  .col-lg-12.mt-10
                    label Biblioteca de Anúncios
                    input#midia_paga_linkedin_ads_anuncio.form-control(type='text' placeholder='Link')
            #kt_tab_pane_3.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_3')
              // 06 - LANDING PAGES
              h3
                | 6. Landing Pages 
                small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
              .separator.separator-solid.my-5
              textarea#landing-pages.mb-10.tox-target(name='landing-pages')
              .kt-portlet__body.pt-0.mt-10
                #landing_pages_spreadsheet
                #landingPagesBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                  i.la.la-trash-o
                  | Remover Linha
                #landingPagesBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                  i.la.la-plus
                  | Adicionar Linha
              // 06.1 - LANDING PAGES - DESTAQUES
              h3.mt-10
                | 6.1. Destaques
              .kt-portlet__body.pt-0.mt-5
                #landing_pages_destaques_spreadsheet
                #landingPagesDestaquesBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                  i.la.la-trash-o
                  | Remover Linha
                #landingPagesDestaquesBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                  i.la.la-plus
                  | Adicionar Linha
            #kt_tab_pane_4.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_4')
              // 07 - E-MAIL MARKETING
              h3
                | 7. E-mail Marketing 
                small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
              .separator.separator-solid.my-5
              textarea#email-mkt.tox-target(name='email-mkt')
              // 07.1 - E-MAIL MARKETING - DESTAQUES
              h3.mt-10
                | 7.1. Destaques
              .kt-portlet__body.pt-0.mt-5
                .row
                  .form-group.col-12
                    #email_mkt_destaques.uppy
                      .uppy-drag
                      .uppy-informer
                      .uppy-progress
                      .uppy-thumbnails
              // 07.2 - E-MAIL MARKETING - CAMPANHAS
              h3.mt-5.mb-5
                | 7.2. Campanhas
              .kt-portlet__body.pt-0
                .form-group.row
                  .col-4
                    label Importar dados (arquivo *.xlsx ou *.xls)
                    input#email_mkt_upload.btn.btn-sm.btn-outline-secondary.form-control(type='file' accept='.xls,.xlsx')
                #email_mkt_spreadsheet
                #emailMktBtnDelRow.col-12.mb-2.btn.btn-sm.btn-outline-danger(type="button")
                  i.la.la-trash-o
                  | Remover Linha
                #emailMktBtnAddRow.col-12.btn.btn-sm.btn-block.btn-outline-primary(type="button")
                  i.la.la-plus
                  | Adicionar Linha
            #kt_tab_pane_5.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_5')
              // 08 - REDES SOCIAIS
              h3
                | 8. Redes Sociais 
                small.text-muted.d-block.d-sm-inline Criativos veiculados nos anúncios.
              .separator.separator-solid.my-5
              .form-group.row
                .col-lg-3
                  label Produções de Campanhas:
                  input#campanhas.form-control(type='text' placeholder='N°')
                .col-lg-2
                  label Peças de Feed:
                  input#pecas_de_feed.form-control(type='text' placeholder='N°')
                .col-lg-2
                  label Peças de Stories:
                  input#pecas_de_stories.form-control(type='text' placeholder='N°')
                .col-lg-2
                  label GIFs e Vídeos:
                  input#videos_gifs.form-control(type='text' placeholder='N°')
                .col-lg-3
                  label Total de Criativos:
                  input#total_de_criativos.form-control(type='text' placeholder='N°' disabled)
              // 08.1 - REDES SOCIAIS - DESTAQUES
              h3.mt-10
                | 8.1. Destaques
              .kt-portlet__body.pt-0.mt-5
                .row
                  .form-group.col-12
                    #redes_sociais_destaques.uppy
                      .uppy-drag
                      .uppy-informer
                      .uppy-progress
                      .uppy-thumbnails
            #kt_tab_pane_6.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_6')
              // 09 - PLANEJAMENTO
              h3
                | 1. Planejamento
              .separator.separator-solid.my-5
              textarea#planejamento.mb-10.tox-target(name='planejamento')
  // CSS DA PÁGINA
  link(href='/plugins/custom/uppy/uppy.bundle.css' rel='stylesheet' type='text/css')
  // SCRIPTS DA PÁGINA
  script(src='/plugins/custom/uppy/uppy.bundle.js')
  script(src='/plugins/custom/uppy/uppy.pt_BR.js')
  script(src='/js/controllers/relatorios-editar.js')