doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title #{layout.prefix} #{title}
  meta(name='description' content='Kampana Hub')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href= layout.canonical)
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href= layout.style)
  link(rel='stylesheet' type='text/css' href='/css/aux.css')
  // Page Styles
  link(rel='stylesheet' type='text/css' href='/js/lib/funnel-graph-js/main.min.css')
  link(rel='stylesheet' type='text/css' href='/js/lib/funnel-graph-js/theme.min.css')
  link(rel='stylesheet' type='text/css' href='/css/iframe.css')
  // Favicon
  link(rel='shortcut icon' href= layout.favicon)
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/axios/axios.min.js')
  script(src='/js/lib/jquery-mask/jquery.mask.min.js')
  script(src='/js/lib/jquery-validation/jquery.validate.min.js')
  script(src='/js/lib/jquery-validation/messages_pt_BR.min.js')
  script(src='/js/lib/funnel-graph-js/funnel-graph.min.js')
  // KAMPANA
  script(src='/js/controllers/main.js')
  script.
    // BASE DA API INTERNA
    const API_URL = '#{layout.api_url}';
    // ID DA PESQUISA
    const id = '#{id}';
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  span
    img.max-h-30px(alt='Logo' src='/media/logos/kampana/logo-light.png')
  .d-flex.align-items-center
    button#kt_header_mobile_toggle.btn.p-0.burger-icon.burger-icon-left.ml-4
      span
.d-flex.flex-column.flex-root
  .d-flex.flex-row.flex-column-fluid.page
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      #kt_header.header.flex-column.header-fixed
        .header-top
          .container.justify-content-center
            .d-none.d-lg-flex.align-items-center
              span
                img.max-h-35px(alt='Logo' src='/media/logos/kampana/logo-light.png')
        .header-bottom.d-flex.d-xl-none.text-center
          .container
            #kt_header_navs.header-navs.header-navs-left
              ul.header-tabs.p-5.p-lg-0.d-flex.d-lg-none.nav.nav-bold.nav-tabs(role='tablist')
                li.nav-item.mr-2
                  // a.nav-link.btn.btn-clean.active(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Índice
                  span.nav-link.btn.btn-clean.active Índice
              .tab-content
                #kt_header_tab_1.tab-pane.py-5.p-lg-0.show.active
                  #kt_header_menu.header-menu.header-menu-mobile.header-menu-layout-default
                    ul.menu-nav
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_1')
                          span.menu-text Início
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_2')
                          span.menu-text Destaques
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_3')
                          span.menu-text Mídia Paga
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_4')
                          span.menu-text Landing Pages
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_5')
                          span.menu-text E-mail Marketing
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_6')
                          span.menu-text Redes Sociais
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_7')
                          span.menu-text Backstage
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_8')
                          span.menu-text Planejamento
      #kt_content.content.d-flex.flex-column.flex-column-fluid.relatorios
        .d-flex.flex-column-fluid
          .container            
            #kt_page_sticky_card.card.card-custom.card-sticky
              .card-header.card-header-tabs-line.justify-content-center.d-none.d-xl-flex
                .card-toolbar
                  ul.nav.nav-tabs.nav-bold.nav-tabs-line
                    li.nav-item
                      a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
                        span.nav-icon
                          i.flaticon-buildings
                        span.nav-text Início
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
                        span.nav-icon
                          i.flaticon-line-graph
                        span.nav-text Destaques
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_3')
                        span.nav-icon
                          i.flaticon-paper-plane
                        span.nav-text Mídia Paga
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_4')
                        span.nav-icon
                          i.flaticon-imac
                        span.nav-text Landing Pages
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_5')
                        span.nav-icon
                          i.flaticon-email
                        span.nav-text E-mail Marketing
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_6')
                        span.nav-icon
                          i.flaticon-network
                        span.nav-text Redes Sociais
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_7')
                        span.nav-icon
                          i.flaticon-open-box
                        span.nav-text Backstage
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_8')
                        span.nav-icon
                          i.flaticon-list-3
                        span.nav-text Planejamento
              .card-body
                .tab-content
                  #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
                    #thumbnail.text-center
                    h3.text-center.projeto-nome
                    h4.text-center Relatório Mensal de Resultados 
                      span.d-none.d-sm-inline - 
                      span.mes-ano
                    p.text-center A/C: 
                      span.cliente-nome
                    .separator.separator-solid.my-10
                    p Nós acreditamos que uma das coisas mais importantes para garantir o crescimento sustentável para qualquer empresa é fazer análises e melhorias constantes, desde a análise do próprio negócio até as ações pontuais e recorrentes: este foi um importante ingrediente da nossa receita de rápido crescimento nos últimos anos.
                    p Para colocar isso em prática, criamos esse modelo de relatório mensal que serve como um guia para reportar as principais métricas do nosso trabalho de Inbound Marketing e decidir o que otimizar no mês seguinte. Conte com o nosso comprometimento. Vamos aos resultados!
                    p Atenciosamente,
                    .mt-8#gerente
                  #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
                    // 01 - VISÃO GERAL
                    h3
                      | 1. Visão Geral 
                      small.text-muted.d-block.d-sm-inline Comentários sobre o desempenho no mês.
                    .separator.separator-solid.my-5
                    #visao-geral.mb-10
                    // 02 - FUNIL DE VENDAS
                    h3
                      | 2. Funil de Vendas 
                      small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
                      img.max-h-30px.float-right.d-none.d-sm-block(alt='RD Station' src='/media/integrations/logo-rdstation.png')
                    .separator.separator-solid.my-5
                    .my-10.text-sm-center
                      #funil.d-none.d-sm-inline-block
                      #funil-responsivo.d-inline-block.d-sm-none
                    #funil-info.accordion.accordion-toggle-arrow.my-10
                      .card
                        .card-header
                          .card-title.collapsed(data-toggle='collapse' data-target='#funil-info-1')
                            i.flaticon-info
                            | O que é&nbsp;
                            strong Funil de Vendas
                            | ?
                        #funil-info-1.collapse(data-parent='#funil-info')
                          .card-body
                            p O funil de vendas traduz o processo pelo qual as pessoas passam até o momento em que se tornam clientes. É importante analisá-lo com frequência para descobrir possíveis gargalos e perceber tendências. Ele poderá trazer até 5 indicadores do Marketing: Visitantes, Leads, Leads Qualificados, Oportunidades e Vendas.
                              ul
                                li
                                  strong Visitantes
                                  | : quantidade de pessoas que acessaram o seu site, independente do número de vezes;
                                li
                                  strong Leads
                                  | : visitantes que forneceram suas informações de contato, como nome e email, em troca de uma oferta ou um conteúdo educativo, por exemplo;
                                li
                                  strong Oportunidades
                                  | : Leads que foram marcados como oportunidade de negócio;
                                li
                                  strong Vendas
                                  | : quantidade de vendas marcadas.
                    #funil-comentarios.mb-10
                    // 03 - PROCESSO DE COMPRA
                    h3#processo-de-compra-titulo
                      | 3. Processo de Compra 
                      small.text-muted.d-block.d-sm-inline Dados obtidos da loja virtual.
                    .separator.separator-solid.my-5
                    .my-10.text-sm-center
                      #processo-de-compra.d-none.d-sm-inline-block
                      #processo-de-compra-responsivo.d-inline-block.d-sm-none
                    // 04 - MÉTRICAS DE AQUISIÇÃO
                    h3
                      | 4. Métricas de Aquisição 
                      small.text-muted.d-block.d-sm-inline Avalia de maneira geral o desempenho da loja virtual.
                    .separator.separator-solid.my-5
                    #aquisicao-comentarios.mb-10
                    h4 4.1 Visão Consolidada
                    table.table.table-responsive-kampana.table-bordered.my-10.text-center
                      tbody
                        tr
                          th Indicador
                          td(colspan='2')
                            #pedidos-realizados-quantidade
                            br
                            small Pedidos Realizados
                          td(colspan='2')
                            #pedidos-pagos-quantidade
                            br
                            small Pedidos Pagos
                        tr
                          th Receita
                          td
                            #pedidos-realizados-faturamento
                            br
                            small Faturamento
                          td
                            #pedidos-realizados-ticket-medio
                            br
                            small Ticket Médio
                          td
                            #pedidos-pagos-faturamento
                            br
                            small Faturamento
                          td
                            #pedidos-pagos-ticket-medio
                            br
                            small Ticket Médio
                    .d-block.d-sm-none.text-center
                      small
                        span.label.pulse.mr-5
                          span.position-relative ↔
                          span.pulse-ring
                        | Deslize lateralmente para visualizar a tabela.
                    .my-10.text-sm-center
                      #aquisicao-visao-consolidada.d-none.d-sm-inline-block
                      #aquisicao-visao-consolidada-responsivo.d-inline-block.d-sm-none
                    h4 4.2 Tráfego Pago
                    #trafego-pago
                  #kt_tab_pane_3.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_3')
                    #midia-paga
                  #kt_tab_pane_4.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_4')
                    // X - LANDING PAGES
                    h3
                      span.landing-pages-index
                      | . Landing Pages 
                      small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
                      img.max-h-30px.float-right.d-none.d-sm-block(alt='RD Station' src='/media/integrations/logo-rdstation.png')
                    .separator.separator-solid.my-5
                    #landing-pages-comentarios
                    #landing-pages
                    #landing-pages-info.accordion.accordion-toggle-arrow.my-10
                      .card
                        .card-header
                          .card-title.collapsed(data-toggle='collapse' data-target='#landing-pages-info-1')
                            i.flaticon-info
                            | O que é&nbsp;
                            strong Taxa de Conversão
                            | ?
                        #landing-pages-info-1.collapse(data-parent='#landing-pages-info')
                          .card-body
                            p A taxa de conversão é a “taxa de ouro” do seu envio. Ela representa aqueles Leads que realizaram a ação pretendida. E, por isso, a forma de calcular depende muito do objetivo do email enviado e da campanha. A “conversão” pretendida pode ser o download de um material, acesso a um artigo do blog, compartilhamento nas redes sociais ou até mesmo a compra de uma oferta.
                            p Digamos que a conversão pretendida é o download do material rico ofertado. Para calcular a taxa de conversão deste email, divide-se a quantidade de conversões identificadas vindas do canal email, pelo número de cliques no envio. Assim, se o número de cliques for 50, e o de conversões for 5, por exemplo, teremos uma taxa de conversão de 10%.
                            p É importante lembrar que a “taxa ideal” de conversão varia muito de acordo com o esforço que seu objetivo exige dos Leads. Em outras palavras, é mais fácil obter uma taxa de conversão alta quando o objetivo é o download de um eBook, por exemplo, do que quando o objetivo é a compra de um produto.
                            p Dito isso, de modo geral podemos classificar a performance da taxa de conversão da seguinte maneira:
                              ul
                                li Acima de 20% é muito boa; 
                                li Entre 10-20% é boa;
                                li Abaixo de 10% já não é um número muito bom.
                    #landing-pages-destaques.row.mt-8
                  #kt_tab_pane_5.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_5')
                    // X - E-MAIL MARKETING
                    h3
                      span.email-marketing-index
                      | . E-mail Marketing 
                      small.text-muted.d-block.d-sm-inline Dados obtidos do RD Station.
                      img.max-h-30px.float-right.d-none.d-sm-block(alt='RD Station' src='/media/integrations/logo-rdstation.png')
                    .separator.separator-solid.my-5
                    .mb-10
                      | Email Marketing é toda comunicação via email que acontece entre uma empresa e seus contatos ou clientes. Uma campanha de Email Marketing pode ser desenvolvida em texto ou HTML e conter produtos, promoções, conteúdos etc. Em geral, as mensagens são enviadas com uma ferramenta de disparo de emails.
                    .row.mb-5
                      .col-xl-3
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#emails-enviados.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm E-mails 
                              strong Enviados
                      .col-xl-3
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#emails-entregues.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm E-mails 
                              strong Entregues
                      .col-xl-3
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#emails-abertos.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm E-mails 
                              strong Abertos
                      .col-xl-3
                        .card.card-custom.bg-info.card-stretch.gutter-b
                          .card-body
                            span#emails-taxa-de-abertura.card-title.font-weight-bolder.text-inverse-info.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm.text-inverse-info
                              strong Taxa de Abertura 
                              | Média
                    // X.1 - DESTAQUES
                    h4 
                      span.email-marketing-index
                      | .1 Destaques
                    #email-destaques.row.my-10.text-center
                    // X.2 - CAMPANHAS
                    h4
                      span.email-marketing-index
                      | .2 Campanhas
                    #email-marketing-campanhas
                    #email-marketing-info.accordion.accordion-toggle-arrow.mb-10
                      .card
                        .card-header
                          .card-title.collapsed(data-toggle='collapse' data-target='#email-marketing-info-1')
                            i.flaticon-info
                            | O que é&nbsp;
                            strong Taxa de Entrega
                            | ?
                        #email-marketing-info-1.collapse(data-parent='#email-marketing-info')
                          .card-body
                            p A taxa de entrega é uma métrica que está diretamente relacionada à qualidade da sua base. Quanto melhores forem os contatos cadastrados em sua lista, maior será a taxa de entrega – por isso é tão importante construir sua base de Leads, e nunca comprar uma base de Leads.
                            p Manter uma taxa acima dos 95% seria o ideal. Porém, alguns erros podem acontecer: endereços duplicados na lista, contas inexistentes, falhas no servidor do destinatário, emails digitados erroneamente, caixas de entrada cheias, mensagens enviadas para a caixa de spam, etc.
                            p Uma dica importante, que pode ajudar a melhorar sua taxa de entrega, é sempre limpar sua base, removendo emails inválidos ou que te bloquearam. Além disso, evite usar no assunto termos que podem ser interpretados como SPAM, como o abuso de palavras do tipo “grátis”, “promoção” e também pontos de exclamação.
                      .card
                        .card-header
                          .card-title.collapsed(data-toggle='collapse' data-target='#email-marketing-info-2')
                            i.flaticon-info
                            | O que é&nbsp;
                            strong Taxa de Abertura
                            | ?
                        #email-marketing-info-2.collapse(data-parent='#email-marketing-info')
                          .card-body
                            p A taxa de abertura é o número de usuários que abriu a mensagem, dividido pelo número de usuários que receberam. Apesar de existirem algumas distorções técnicas que afetam a precisão dessa taxa, é um dado muito relevante para indicar a qualidade do assunto definido, assim como o melhor horário para envio emails devidamente segmentados e títulos atraentes podem ajudar a elevar esse número.
                            p De maneira geral, podemos classificar o desempenho da taxa de abertura assim:
                              ul
                                li Acima de 20% é muito bom;
                                li Entre 10 e 20% é bom;
                                li Entre 6 e 10% é considerado normal;
                                li Abaixo de 6% começa-se a ter um desempenho fraco.
                      .card
                        .card-header
                          .card-title.collapsed(data-toggle='collapse' data-target='#email-marketing-info-3')
                            i.flaticon-info
                            | O que é&nbsp;
                            strong Taxa de Cliques
                            | ?
                        #email-marketing-info-3.collapse(data-parent='#email-marketing-info')
                          .card-body
                            p
                              A A taxa de clique é, sem dúvida, um dos pontos mais importantes: é a quantidade de cliques nos links dentro do email enviado. Porém, também não podemos analisá-la de forma exclusiva e separada. Essa métrica está diretamente relacionada com a taxa de abertura dos emails e ambas devem ser avaliadas em conjunto. Logicamente, se poucas pessoas estiverem abrindo seus emails, a taxa de cliques também será relativamente baixa.
                              p Assim, certifique-se de que os links dentro de seus emails estejam bastante visíveis e em quantidade ideal em relação ao texto do email. Em geral, uma taxa de cliques acima de 3% é considerada boa e abaixo de 1% seria um desempenho ruim.
                    // X.3 - COMENTÁRIOS
                    h4 
                      span.email-marketing-index
                      | .3 Comentários
                    #email-marketing-comentarios.mt-5
                  #kt_tab_pane_6.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_6')
                    // X - VISÃO GERAL
                    h3
                      span.redes-sociais-index
                      | . Redes Sociais 
                      small.text-muted.d-block.d-sm-inline Criativos veículados nos anúncios.
                    .separator.separator-solid.my-5
                    .mb-10
                      | Um criativo é o anúncio veiculado aos usuários em uma página da Web, um app ou outro ambiente digital. Eles podem ser imagens, áudios, vídeos e outros formatos exibidos aos usuários. Os criativos precisam ser adicionados a um item de linha para que possam veicular anúncios. Além disso, podem ser adicionados à biblioteca de criativos e associados a itens de linha posteriormente.
                    .row.mb-5
                      .col-xl-3
                        .card.card-custom.bg-info.card-stretch.gutter-b
                          .card-body
                            span#redes-sociais-campanhas.card-title.font-weight-bolder.text-inverse-info.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm.text-inverse-info
                              | Produções de
                              br
                              strong Campanhas 
                      .col-xl-2
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#redes-sociais-pecas-de-feed.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm
                              | Peças de
                              br
                              strong Feed
                      .col-xl-2
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#redes-sociais-pecas-de-stories.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm
                              | Peças de
                              br
                              strong Stories
                      .col-xl-2
                        .card.card-custom.bg-light-info.card-stretch.gutter-b
                          .card-body
                            span#redes-sociais-videos-gifs.card-title.font-weight-bolder.text-dark-75.font-size-h2.mb-0.d-block
                            span.font-weight-bold.font-size-sm
                              | GIFs e
                              br
                              strong Vídeos
                      .col-xl-3
                        .card.card-custom.bg-info.card-stretch.gutter-b
                          .card-body
                            span#redes-sociais-criativos.card-title.font-weight-bolder.text-inverse-info.font-size-h2.mb-0.d-block 92
                            span.font-weight-bold.font-size-sm.text-inverse-info
                              | Total de
                              br
                              strong Criativos
                    // X.1 - DESTAQUES
                    h4 
                      span.redes-sociais-index
                      | .1 Destaques
                    #redes-sociais-destaques.row.my-10.text-center
                  #kt_tab_pane_7.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_7')
                    .row
                      .col-xl-12
                        .card.card-custom.bgi-no-repeat.bg-primary(style='height: 115px; background-position: center; background-size: 25%; background-image: url(/media/kampana-pattern.png);')
                          .card-body
                            h3.text-white.font-weight-bolder Backstage
                            p.text-muted.font-size-lg.mt-5.mb-10 Confira tudo o que aconteceu nos bastidores.
                    .row.align-items-center.my-8
                      .col-12
                        .input-icon
                          input#backstage-table-search-query.form-control(type='text' placeholder='Pesquisar...')
                          span
                            i.flaticon2-search-1.text-muted
                    #backstage-table.datatable.datatable-bordered.datatable-head-custom
                  #kt_tab_pane_8.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_8')
                    #proximas-acoes
              .card-footer.d-flex.justify-content-between
                button.btn-prev.min-w-100px.btn.font-weight-bolder.btn-light-primary(type='button') Anterior
                button.btn-next.min-w-100px.btn.font-weight-bolder.btn-primary(type='button') Próximo
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
#kt_scrolltop.scrolltop
  span.svg-icon
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
script(src='/js/controllers/relatorios-visualizar.js')