extends layout

block content
  
  #kt_subheader.subheader.mb-6.subheader-transparent
    .container.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
      .d-flex.align-items-center.flex-wrap
        h5.text-dark.font-weight-bold.my-1.mr-5 Tray
        ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
          li.breadcrumb-item.text-muted
            span.text-muted Integração
      .d-none.d-sm-flex.align-items-center
        img.max-h-30px(alt='Shopify' src='/media/integrations/logo-tray.png')
      .d-flex.align-items-center
        span.btn.btn-primary.font-weight-bold.btn-sm.btn-create
          i.ki.ki-plus.icon-sm
          small Adicionar 
          | Integração
  .d-flex.flex-column-fluid
    .container      
      .card.card-custom.mb-6
        .card-body
          .row.align-items-center
            .col-12
              .input-icon
                input#kt_datatable_search_query.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
      .card.card-custom
        .card-body
          #kt_datatable.datatable.datatable-bordered.datatable-head-custom
  #modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title.ellipsis
            | Habilitar Eventos
            span#modal-title.d-block.text-muted.font-size-sm.ellipsis
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form#form
            .row
              // CHECKOUT
              .col-md-6.border-right
                // CHECKOUTS CREATE
                .row.form-group
                  .col-9
                    label(for='shopify-checkouts-create')
                      small Checkouts 
                      | Create
                    span.form-text.text-muted
                      | Carrinho Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-checkouts-create(name='shopify-checkouts-create' type='checkbox')
                        span
                // CHECKOUTS UPDATE
                .row.form-group
                  .col-9
                    label(for='shopify-checkouts-update')
                      small Checkouts 
                      | Update
                    span.form-text.text-muted
                      | Carrinho Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-checkouts-update(name='shopify-checkouts-update' type='checkbox')
                        span
                // CHECKOUTS DELETE
                .row.form-group
                  .col-9
                    label(for='shopify-checkouts-delete')
                      small Checkouts 
                      | Delete
                    span.form-text.text-muted
                      | Carrinho Excluído
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-checkouts-delete(name='shopify-checkouts-delete' type='checkbox')
                        span
              // ORDERS
              .col-md-6
                // ORDERS CREATE
                .row.form-group
                  .col-9
                    label(for='shopify-orders-create')
                      small Orders 
                      | Create
                    span.form-text.text-muted
                      | Pedido Criado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-create(name='shopify-orders-create' type='checkbox')
                        span
                // ORDERS UPDATED
                .row.form-group
                  .col-9
                    label(for='shopify-orders-updated')
                      small Orders 
                      | Updated
                    span.form-text.text-muted
                      | Pedido Atualizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-updated(name='shopify-orders-updated' type='checkbox')
                        span
                // ORDERS PAID
                .row.form-group
                  .col-9
                    label(for='shopify-orders-paid')
                      small Orders 
                      | Paid
                    span.form-text.text-muted
                      | Pedido Pago
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-paid(name='shopify-orders-paid' type='checkbox')
                        span
                // ORDER PARTIALLY FULFILLED
                .row.form-group
                  .col-9
                    label(for='shopify-orders-partially-fulfilled')
                      small Orders 
                      | Partially Fulfilled
                    span.form-text.text-muted.ellipsis
                      | Pedido Parcialmente Finalizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-partially-fulfilled(name='shopify-orders-partially-fulfilled' type='checkbox')
                        span
                // ORDER FULFILLED
                .row.form-group
                  .col-9
                    label(for='shopify-orders-fulfilled')
                      small Orders 
                      | Fulfilled
                    span.form-text.text-muted
                      | Pedido Finalizado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-fulfilled(name='shopify-orders-fulfilled' type='checkbox')
                        span
                // ORDERS CANCELLED
                .row.form-group.mb-0
                  .col-9
                    label(for='shopify-orders-cancelled')
                      small Orders 
                      | Canceled 
                    span.form-text.text-muted
                      | Pedido Cancelado
                  .col-3
                    span.switch.switch-sm.switch-icon.mt-1
                      label
                        input#shopify-orders-cancelled(name='shopify-orders-cancelled' type='checkbox')
                        span
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
  #modal-scripts.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
      .modal-content
        .modal-header
          h5.modal-title.ellipsis
            | Habilitar Scripts
            span#modal-scripts-title.d-block.text-muted.font-size-sm.ellipsis
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          form
            // RD STATION - TRACKING CODE
            .row.form-group
              .col-9
                label(for='script-rd-tracking-code')
                  | Código de Monitoramento
                span.form-text.text-muted
                  | RD Station
              .col-3
                span.switch.switch-sm.switch-icon.mt-1
                  label
                    input#script-rd-tracking-code(name='script-rd-tracking-code' type='checkbox')
                    span
            // RD STATION - ABANDONED CART
            //.row.form-group.mb-0
              .col-9
                label(for='script-rd-abandoned-cart')
                  | Carrinho Abandonado
                span.form-text.text-muted
                  | RD Station
              .col-3
                span.switch.switch-sm.switch-icon.mt-1
                  label
                    input#script-rd-abandoned-cart(name='script-rd-abandoned-cart' type='checkbox')
                    span
              .col-12
                .d-flex.form-text.text-uppercase.align-items-center
                  small Atenção para o SKU dos produtos
                  i.flaticon-warning-sign.text-danger.ml-2
        .modal-footer
          button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
          button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar  
  #modal-log.modal.fade(role='dialog' aria-hidden='true' data-backdrop='static')
    .modal-dialog.modal-xl
      .modal-content(style='min-height: 590px;')
        .modal-header
          h5.modal-title.ellipsis
            | Histórico de Integração
            span#modal-log-title.d-block.text-muted.font-size-sm loja.com.br
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ki.ki-close(aria-hidden='true')
        .modal-body
          .mb-5.row
            .col-12
              .input-icon
                input#kt_datatable_search_query_log.form-control(type='text' placeholder='Pesquisar...')
                span
                  i.flaticon2-search-1.text-muted
          #kt_datatable_log.datatable.datatable-bordered.datatable-head-custom
  script(src='/js/controllers/tray.js')