doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title Kampana Hub - #{title}
  meta(name='description' content='Page with empty content')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='canonical' href='https://keenthemes.com/metronic')
  // begin::Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  // end::Fonts
  // begin::Page Vendors Styles(used by this page)
  link(href='/plugins/custom/fullcalendar/fullcalendar.bundle.css' rel='stylesheet' type='text/css')
  // end::Page Vendors Styles
  // begin::Global Theme Styles(used by all pages)
  link(href='/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
  link(href='/plugins/custom/prismjs/prismjs.bundle.css' rel='stylesheet' type='text/css')
  link(href='/css/style.bundle.css' rel='stylesheet' type='text/css')
  // end::Global Theme Styles
  // begin::Layout Themes(used by all pages)
  // end::Layout Themes
  link(rel='shortcut icon' href='/media/logos/kampana/favicon.png')
  // begin::Global Config(global config for global JS scripts)
  script.
    let KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };
  // end::Global Config
  // begin::Global Theme Bundle(used by all pages)
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
// end::Global Theme Bundle
// end::Head
// begin::Body
// begin::Main
// begin::Header Mobile
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  // begin::Logo
  a(href='/')
    img.max-h-30px(alt='Logo' src='/media/logos/kampana/logo-light.png')
  // end::Logo
// end::Header Mobile
.d-flex.flex-column.flex-root
  // begin::Page
  .d-flex.flex-row.flex-column-fluid.page
    // begin::Wrapper
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      // begin::Header
      #kt_header.header.flex-column.header-fixed
        // begin::Top
        .header-top
          // begin::Container
          .container.justify-content-center
            // begin::Left
            .d-none.d-lg-flex.align-items-center
              // begin::Logo
              a(href='/')
                img.max-h-35px(alt='Logo' src='/media/logos/kampana/logo-light.png')
              // end::Logo
            // end::Left
        // end::Top
      // end::Header
      // begin::Content
      #kt_content.content.d-flex.flex-column.flex-column-fluid
        .d-flex.flex-column-fluid
          .container
            .card.card-custom
              .card-header
                .card-title
                  h3.card-label
                    | Política de Privacidade 
                    small do Kampana Hub
              .card-body
                p A sua privacidade é importante para nós. É política do Kampana Hub respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site 
                  a(href='https://hub.kampana.digital') Kampana Hub
                  | , e outros sites que possuímos e operamos.
                p Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.                    
                p Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
                p Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.
                p O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.
                p Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.
                p O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.
                h2 Política de Cookies Kampana Hub
                h3 O que são Cookies?
                p Como é prática comum em quase todos os sites profissionais, este site usa cookies, que são pequenos arquivos baixados no seu computador, para melhorar sua experiência. Esta página descreve quais informações eles coletam, como as usamos e por que às vezes precisamos armazenar esses cookies. Também compartilharemos como você pode impedir que esses cookies sejam armazenados, no entanto, isso pode fazer o downgrade ou 'quebrar' certos elementos da funcionalidade do site.
                h3 Como Usamos os Cookies?
                p Utilizamos cookies por vários motivos, detalhados abaixo. Infelizmente, na maioria dos casos, não existem opções padrão do setor para desativar os cookies sem desativar completamente a funcionalidade e os recursos que eles adicionam a este site. É recomendável que você deixe todos os cookies se não tiver certeza se precisa ou não deles, caso sejam usados para fornecer um serviço que você usa.
                h3 Desativar Cookies
                p Você pode impedir a configuração de cookies ajustando as configurações do seu navegador (consulte a Ajuda do navegador para saber como fazer isso). Esteja ciente de que a desativação de cookies afetará a funcionalidade deste e de muitos outros sites que você visita. A desativação de cookies geralmente resultará na desativação de determinadas funcionalidades e recursos deste site. Portanto, é recomendável que você não desative os cookies.
                h3 Cookies que Definimos
                ul
                  li Cookies Relacionados à Conta
                    br
                    | Se você criar uma conta connosco, usaremos cookies para o gerenciamento do processo de inscrição e administração geral. Esses cookies geralmente serão excluídos quando você sair do sistema, porém, em alguns casos, eles poderão permanecer posteriormente para lembrar as preferências do seu site ao sair.
                    br
                  li Cookies Relacionados ao Login
                    br
                    | Utilizamos cookies quando você está logado, para que possamos lembrar dessa ação. Isso evita que você precise fazer login sempre que visitar uma nova página. Esses cookies são normalmente removidos ou limpos quando você efetua logout para garantir que você possa acessar apenas a recursos e áreas restritas ao efetuar login.
                    br
                  li Cookies Relacionados a Boletins por E-mail
                    br
                    | Este site oferece serviços de assinatura de boletim informativo ou e-mail e os cookies podem ser usados ​​para lembrar se você já está registrado e se deve mostrar determinadas notificações válidas apenas para usuários inscritos / não inscritos.
                    br
                  li Pedidos Processando Cookies Relacionados
                    br
                    | Este site oferece facilidades de comércio eletrônico ou pagamento e alguns cookies são essenciais para garantir que seu pedido seja lembrado entre as páginas, para que possamos processá-lo adequadamente.
                    br
                  li Cookies Relacionados a Pesquisas
                    br
                    | Periodicamente, oferecemos pesquisas e questionários para fornecer informações interessantes, ferramentas úteis ou para entender nossa base de usuários com mais precisão. Essas pesquisas podem usar cookies para lembrar quem já participou numa pesquisa ou para fornecer resultados precisos após a alteração das páginas.
                    br
                  li Cookies Relacionados a Formulários
                    br
                    | Quando você envia dados por meio de um formulário como os encontrados nas páginas de contacto ou nos formulários de comentários, os cookies podem ser configurados para lembrar os detalhes do usuário para correspondência futura.
                    br
                  li Cookies de Preferências do Site
                    br
                    | Para proporcionar uma ótima experiência neste site, fornecemos a funcionalidade para definir suas preferências de como esse site é executado quando você o usa. Para lembrar suas preferências, precisamos definir cookies para que essas informações possam ser chamadas sempre que você interagir com uma página for afetada por suas preferências.
                    br
                h3 Cookies de Terceiros
                p Em alguns casos especiais, também usamos cookies fornecidos por terceiros confiáveis. A seção a seguir detalha quais cookies de terceiros você pode encontrar através deste site.
                ul
                  li Este site usa o Google Analytics, que é uma das soluções de análise mais difundidas e confiáveis da Web, para nos ajudar a entender como você usa o site e como podemos melhorar sua experiência. Esses cookies podem rastrear itens como quanto tempo você gasta no site e as páginas visitadas, para que possamos continuar produzindo conteúdo atraente.                        
                p Para mais informações sobre cookies do Google Analytics, consulte a página oficial do Google Analytics.
                ul
                  li As análises de terceiros são usadas para rastrear e medir o uso deste site, para que possamos continuar produzindo conteúdo atrativo. Esses cookies podem rastrear itens como o tempo que você passa no site ou as páginas visitadas, o que nos ajuda a entender como podemos melhorar o site para você.
                  li Periodicamente, testamos novos recursos e fazemos alterações subtis na maneira como o site se apresenta. Quando ainda estamos testando novos recursos, esses cookies podem ser usados para garantir que você receba uma experiência consistente enquanto estiver no site, enquanto entendemos quais otimizações os nossos usuários mais apreciam.
                  li À medida que vendemos produtos, é importante entendermos as estatísticas sobre quantos visitantes de nosso site realmente compram e, portanto, esse é o tipo de dados que esses cookies rastrearão. Isso é importante para você, pois significa que podemos fazer previsões de negócios com precisão que nos permitem analizar nossos custos de publicidade e produtos para garantir o melhor preço possível.
                h3 Compromisso do Usuário
                p O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Kampana Hub oferece no site e com caráter enunciativo, mas não limitativo:
                ul
                  li Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;
                  li Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, apostas online, jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;
                  li Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Kampana Hub, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.
                h3 Mais Informações
                p Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.
                p Esta política é efetiva a partir de 
                  strong Março
                  | /
                  strong 2021
                  | .
      // end::Content
      // begin::Footer
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        // begin::Container
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          // begin::Copyright
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
          // end::Copyright
          // begin::Nav
             .nav.nav-dark.order-1.order-md-2
               a.nav-link.pr-3.pl-0(href='http://keenthemes.com/metronic' target='_blank') About
               a.nav-link.px-3(href='http://keenthemes.com/metronic' target='_blank') Team
               a.nav-link.pl-3.pr-0(href='http://keenthemes.com/metronic' target='_blank') Contact
          // end::Nav
        // end::Container
      // end::Footer
    // end::Wrapper
  // end::Page
// end::Main
// begin::Scrolltop
#kt_scrolltop.scrolltop
  span.svg-icon
    // begin::Svg Icon | path:/media/svg/icons/Navigation/Up-2.svg
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
    // end::Svg Icon
// end::Scrolltop