doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title Kampana Hub - #{title}
  meta(name='description' content='Kampana Hub - Relatório Mensal de Resultados')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  link(rel='canonical' href='https://ams.kampana.digital')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Zeyada&display=swap')
  // Global Theme Styles
  link(rel='stylesheet' type='text/css' href='/plugins/global/plugins.bundle.css')
  link(rel='stylesheet' type='text/css' href='/plugins/custom/prismjs/prismjs.bundle.css')
  link(rel='stylesheet' type='text/css' href='/css/style.bundle.css')
  // Page Styles
  link(rel='stylesheet' type='text/css' href='/js/lib/funnel-graph-js/main.min.css')
  link(rel='stylesheet' type='text/css' href='/js/lib/funnel-graph-js/theme.min.css')
  link(rel='stylesheet' type='text/css' href='/css/iframe.css')
  link(rel='stylesheet' type='text/css' href='/css/kampana.css')
  // Favicon
  link(rel='shortcut icon' href='/media/logos/kampana/favicon.png')
  // Global Config
  script.
    let KTAppSettings = {
      'breakpoints': {
        'sm': 576,
        'md': 768,
        'lg': 992,
        'xl': 1200,
        'xxl': 1200
      },
      'colors': {
        'theme': {
          'base': {
            'white': '#ffffff',
            'primary': '#6993FF',
            'secondary': '#E5EAEE',
            'success': '#1BC5BD',
            'info': '#8950FC',
            'warning': '#FFA800',
            'danger': '#F64E60',
            'light': '#F3F6F9',
            'dark': '#212121'
          },
          'light': {
            'white': '#ffffff',
            'primary': '#E1E9FF',
            'secondary': '#ECF0F3',
            'success': '#C9F7F5',
            'info': '#EEE5FF',
            'warning': '#FFF4DE',
            'danger': '#FFE2E5',
            'light': '#F3F6F9',
            'dark': '#D6D6E0'
          },
          'inverse': {
            'white': '#ffffff',
            'primary': '#ffffff',
            'secondary': '#212121',
            'success': '#ffffff',
            'info': '#ffffff',
            'warning': '#ffffff',
            'danger': '#ffffff',
            'light': '#464E5F',
            'dark': '#ffffff'
          }
        },
        'gray': {
          'gray-100': '#F3F6F9',
          'gray-200': '#ECF0F3',
          'gray-300': '#E5EAEE',
          'gray-400': '#D6D6E0',
          'gray-500': '#B5B5C3',
          'gray-600': '#80808F',
          'gray-700': '#464E5F',
          'gray-800': '#1B283F',
          'gray-900': '#212121'
        }
      },
      'font-family': 'Poppins'
    };
    // TRADUÇÃO PARA AS TABELAS
    let kt_datatable_pt_br = {
      records: {
        processing: 'Carregando...',
        noRecords: 'Não foram encontrados registros.'
      },
      toolbar: {
        pagination: {
          items: {
            default: {
              first: 'Primeiro',
              prev: 'Anterior',
              next: 'Seguinte',
              last: 'Último',
              more: 'Mais Páginas',
              input: 'Número da Página',
              select: 'Selecionar Tamanho da Página'
            },
            info: 'Vendo {{start}} - {{end}} de {{total}} registros'
          }
        }
      }
    }
  // Global Theme Bundle
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
  // Page Bundle
  script(src='/js/lib/funnel-graph-js/funnel-graph.min.js')
  script(src='/js/lib/axios/axios.min.js')
  // KAMPANA
  script.
    // BASE DA API INTERNA
    let API_URL = '/api';
    // ID DA PESQUISA
    const id = '#{id}';
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  span
    img.max-h-30px(alt='Logo' src='/media/logos/kampana/logo-light.png')
  .d-flex.align-items-center
    button#kt_header_mobile_toggle.btn.p-0.burger-icon.burger-icon-left.ml-4
      span
.d-flex.flex-column.flex-root
  .d-flex.flex-row.flex-column-fluid.page
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      #kt_header.header.flex-column.header-fixed
        .header-top
          .container.justify-content-center
            .d-none.d-lg-flex.align-items-center
              span
                img.max-h-35px(alt='Logo' src='/media/logos/kampana/logo-light.png')
        .header-bottom.d-flex.d-xl-none.text-center
          .container
            #kt_header_navs.header-navs.header-navs-left
              ul.header-tabs.p-5.p-lg-0.d-flex.d-lg-none.nav.nav-bold.nav-tabs(role='tablist')
                li.nav-item.mr-2
                  // a.nav-link.btn.btn-clean.active(href='#' data-toggle='tab' data-target='#kt_header_tab_1' role='tab') Índice
                  span.nav-link.btn.btn-clean.active Índice
              .tab-content
                #kt_header_tab_1.tab-pane.py-5.p-lg-0.show.active
                  #kt_header_menu.header-menu.header-menu-mobile.header-menu-layout-default
                    ul.menu-nav
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_1')
                          span.menu-text Preferências
                      li.menu-item(aria-haspopup='true')
                        a.menu-link(data-toggle='tab' href='#kt_tab_pane_2')
                          span.menu-text Log
      #kt_content.content.d-flex.flex-column.flex-column-fluid.relatorios
        .d-flex.flex-column-fluid
          .container            
            #kt_page_sticky_card.card.card-custom.card-sticky
              .card-header.card-header-tabs-line.justify-content-center.d-none.d-xl-flex
                .card-toolbar
                  ul.nav.nav-tabs.nav-bold.nav-tabs-line
                    li.nav-item
                      a.nav-link.active(data-toggle='tab' href='#kt_tab_pane_1')
                        span.nav-icon
                          i.flaticon-buildings
                        span.nav-text Preferências
                    li.nav-item
                      a.nav-link(data-toggle='tab' href='#kt_tab_pane_2')
                        span.nav-icon
                          i.flaticon-line-graph
                        span.nav-text Log
              .card-body
                .tab-content
                  #kt_tab_pane_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='kt_tab_pane_1')
                    form#form
                      .row
                        // CHECKOUT
                        .col-md-6.border-right
                          // CHECKOUTS CREATE
                          .row.form-group
                            .col-9
                              label(for='shopify-checkouts-create')
                                small Checkouts 
                                | Create
                              span.form-text.text-muted
                                | Carrinho Criado
                            .col-3
                              span.switch.switch-sm.switch-icon.mt-1
                                label
                                  input#shopify-checkouts-create(name='shopify-checkouts-create' type='checkbox')
                                  span
                          // CHECKOUTS UPDATE
                            .row.form-group
                              .col-9
                                label(for='shopify-checkouts-update')
                                  small Checkouts 
                                  | Update
                                span.form-text.text-muted
                                  | Carrinho Atualizado
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-checkouts-update(name='shopify-checkouts-update' type='checkbox')
                                    span
                          // CHECKOUTS DELETE
                            .row.form-group
                              .col-9
                                label(for='shopify-checkouts-delete')
                                  small Checkouts 
                                  | Delete
                                span.form-text.text-muted
                                  | Carrinho Excluído
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-checkouts-delete(name='shopify-checkouts-delete' type='checkbox')
                                    span
                          // CUSTOMERS CREATE
                          .row.form-group
                            .col-9
                              label(for='shopify-customers-create')
                                small Customers 
                                | Create
                              span.form-text.text-muted
                                | Cliente Criado
                            .col-3
                              span.switch.switch-sm.switch-icon.mt-1
                                label
                                  input#shopify-customers-create(name='shopify-customers-create' type='checkbox')
                                  span        
                        // ORDERS
                        .col-md-6
                          // ORDERS CREATE
                          .row.form-group
                            .col-9
                              label(for='shopify-orders-create')
                                small Orders 
                                | Create
                              span.form-text.text-muted
                                | Pedido Criado
                            .col-3
                              span.switch.switch-sm.switch-icon.mt-1
                                label
                                  input#shopify-orders-create(name='shopify-orders-create' type='checkbox')
                                  span
                          // ORDERS UPDATED
                            .row.form-group
                              .col-9
                                label(for='shopify-orders-updated')
                                  small Orders 
                                  | Updated
                                span.form-text.text-muted
                                  | Pedido Atualizado
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-orders-updated(name='shopify-orders-updated' type='checkbox')
                                    span
                          // ORDERS PAID
                          .row.form-group
                            .col-9
                              label(for='shopify-orders-paid')
                                small Orders 
                                | Paid
                              span.form-text.text-muted
                                | Pedido Pago
                            .col-3
                              span.switch.switch-sm.switch-icon.mt-1
                                label
                                  input#shopify-orders-paid(name='shopify-orders-paid' type='checkbox')
                                  span
                          // ORDER PARTIALLY FULFILLED
                            .row.form-group
                              .col-9
                                label(for='shopify-orders-partially-fulfilled')
                                  small Orders 
                                  | Partially Fulfilled
                                span.form-text.text-muted.ellipsis
                                  | Pedido Parcialmente Finalizado
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-orders-partially-fulfilled(name='shopify-orders-partially-fulfilled' type='checkbox')
                                    span
                          // ORDER FULFILLED
                            .row.form-group
                              .col-9
                                label(for='shopify-orders-fulfilled')
                                  small Orders 
                                  | Fulfilled
                                span.form-text.text-muted
                                  | Pedido Finalizado
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-orders-fulfilled(name='shopify-orders-fulfilled' type='checkbox')
                                    span
                          // ORDERS CANCELLED
                            .row.form-group.mb-0
                              .col-9
                                label(for='shopify-orders-cancelled')
                                  small Orders 
                                  | Canceled 
                                span.form-text.text-muted
                                  | Pedido Cancelado
                              .col-3
                                span.switch.switch-sm.switch-icon.mt-1
                                  label
                                    input#shopify-orders-cancelled(name='shopify-orders-cancelled' type='checkbox')
                                    span
                  #kt_tab_pane_2.tab-pane.fade(role='tabpanel' aria-labelledby='kt_tab_pane_2')
                    .mb-5.row
                      .col-12
                        .input-icon
                          input#kt_datatable_search_query_log.form-control(type='text' placeholder='Pesquisar...')
                          span
                            i.flaticon2-search-1.text-muted
                    #kt_datatable_log.datatable.datatable-bordered.datatable-head-custom
              .card-footer.d-flex.justify-content-center
                // button.btn.btn-light-primary.font-weight-bold(type='button' data-dismiss='modal') Cancelar
                button.btn.btn-primary.font-weight-bold.btn-save(type='button') Salvar
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
#kt_scrolltop.scrolltop
  span.svg-icon
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
script(src='/js/controllers/shopify-id.js')