doctype html
head
  base(href='/')
  meta(charset='utf-8')
  title Kampana Hub - #{title}
  meta(name='description' content='Page with empty content')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='canonical' href='https://keenthemes.com/metronic')
  // begin::Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  // end::Fonts
  // begin::Page Vendors Styles(used by this page)
  link(href='/plugins/custom/fullcalendar/fullcalendar.bundle.css' rel='stylesheet' type='text/css')
  // end::Page Vendors Styles
  // begin::Global Theme Styles(used by all pages)
  link(href='/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
  link(href='/plugins/custom/prismjs/prismjs.bundle.css' rel='stylesheet' type='text/css')
  link(href='/css/style.bundle.css' rel='stylesheet' type='text/css')
  // end::Global Theme Styles
  // begin::Layout Themes(used by all pages)
  // end::Layout Themes
  link(rel='shortcut icon' href='/media/logos/kampana/favicon.png')
  // begin::Global Config(global config for global JS scripts)
  script.
    let KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };
  // end::Global Config
  // begin::Global Theme Bundle(used by all pages)
  script(src='/plugins/global/plugins.bundle.js')
  script(src='/plugins/custom/prismjs/prismjs.bundle.js')
  script(src='/js/scripts.bundle.js')
// end::Global Theme Bundle
// end::Head
// begin::Body
// begin::Main
// begin::Header Mobile
#kt_header_mobile.header-mobile.bg-primary.header-mobile-fixed
  // begin::Logo
  a(href='/')
    img.max-h-30px(alt='Logo' src='/media/logos/kampana/logo-light.png')
  // end::Logo
// end::Header Mobile
.d-flex.flex-column.flex-root
  // begin::Page
  .d-flex.flex-row.flex-column-fluid.page
    // begin::Wrapper
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      // begin::Header
      #kt_header.header.flex-column.header-fixed
        // begin::Top
        .header-top
          // begin::Container
          .container.justify-content-center
            // begin::Left
            .d-none.d-lg-flex.align-items-center
              // begin::Logo
              a(href='/')
                img.max-h-35px(alt='Logo' src='/media/logos/kampana/logo-light.png')
              // end::Logo
            // end::Left
        // end::Top
      // end::Header
      // begin::Content
      #kt_content.content.d-flex.flex-column.flex-column-fluid
        .d-flex.flex-column-fluid
          .container
            .card.card-custom
              .card-header
                .card-title
                  h3.card-label
                    | Suporte 
                    small do Kampana Hub
              .card-body
                p Envie o e-mail com a sua dúvida para 
                  a(href='mailto:dev@kampana.digital') dev@kampana.digital
                  | .
      // end::Content
      // begin::Footer
      #kt_footer.footer.bg-white.py-4.d-flex.flex-lg-column
        // begin::Container
        .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
          // begin::Copyright
          .text-dark.order-2.order-md-1
            span.text-muted.font-weight-bold.mr-2 2021 &copy;
            a.text-dark-75.text-hover-primary(href='https://kampana.digital' target='_blank') kampana.digital
          // end::Copyright
          // begin::Nav
             .nav.nav-dark.order-1.order-md-2
               a.nav-link.pr-3.pl-0(href='http://keenthemes.com/metronic' target='_blank') About
               a.nav-link.px-3(href='http://keenthemes.com/metronic' target='_blank') Team
               a.nav-link.pl-3.pr-0(href='http://keenthemes.com/metronic' target='_blank') Contact
          // end::Nav
        // end::Container
      // end::Footer
    // end::Wrapper
  // end::Page
// end::Main
// begin::Scrolltop
#kt_scrolltop.scrolltop
  span.svg-icon
    // begin::Svg Icon | path:/media/svg/icons/Navigation/Up-2.svg
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
      g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000' opacity='0.3' x='11' y='10' width='2' height='10' rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z' fill='#000000' fill-rule='nonzero')
    // end::Svg Icon
// end::Scrolltop