.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swal2-select {
  width: 100%;
  height: calc(1.5em + 1.3rem + 2px);
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

span.navi-link {
  cursor: pointer;
}

.swal2-container .swal2-html-container {
  max-height: unset;
}

.form-control.error {
  border-color: #f64e60;
  padding-right: calc(1.5em + 1.3rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .325rem) center;
  background-size: calc(.75em + .65rem) calc(.75em + .65rem);
}

.form-control.error ~ .select2-container--default .select2-selection--single {
  border-color: #f64e60;
  padding-right: calc(1.5em + 1.3rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .325rem) center;
  background-size: calc(.75em + .65rem) calc(.75em + .65rem);
}

label.error {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: .9rem;
  font-weight: 400;
  color: #f64e60;
}

.select2-container {
  display: block;
}

input.tagify {
  padding: .65rem 1rem;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #F3F6F9;
  opacity: 1;
}

.btn.disabled {
  cursor: default;
}

.image-input [data-action=cancel] {
    display: flex;
}

.small-60 {
  font-size: 60%;
}

.ad-disabled {
  pointer-events: none;
}

.ad-disabled .card {
  background: repeating-linear-gradient(-55deg, #FBF8FD, #FBF8FD 10px, #FFFFFF 10px, #FFFFFF 20px);
}

.bridge-disabled {
  pointer-events: none;
}

.bridge-disabled .card {
  background: repeating-linear-gradient(-55deg, #FBF8FD, #FBF8FD 10px, #FFFFFF 10px, #FFFFFF 20px);
}